.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# Backups
*~
*.bak
**/.!*

backstop/backstop_data/bitmaps*
backstop/backstop_data/html_report
prettierrc
content/test page.md
*tmp.ts
Untitled.md
content/drafts/**
coverage
*log
.logs

# Media files
*.png
*.jpg
*.jpeg
*.avif
*.gif
*.webp

*.webm
*.mp4
*.mov
*.mkv
*.mp3
*test.md

content/drafts
