.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
*__pycache__*

# Backups
*~
*.bak
**/.!*

backstop/backstop_data/bitmaps*
backstop/backstop_data/html_report
prettierrc
content/test page.md
*tmp.ts
Untitled.md
content/drafts/**
coverage
*log
.logs

# Media files
quartz/static/images/external-favicons/*.png
# content/asset_staging/*
# *.jpg
# *.jpeg
# *.avif
# *.gif
# *.webp
*.avif_original

# *.webm
# *.mp4
# *.mov
# *.mkv
# *.mp3
*test.md

content/drafts
**.vscode
*__snapshots__
