.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
*__pycache__*
*subset.woff2
*zopfli*

# Backups
*~
*.bak
**/.!*

backstop/backstop_data/bitmaps*
backstop/backstop_data/html_report
prettierrc
*tmp.ts
content/drafts/**
coverage
*log
.logs

# Media files
quartz/static/images/external-favicons/*.png
# content/asset_staging/*
*.avif_original

*test.md

content/drafts
**.vscode
*__snapshots__
.aider
.aider*
*.faviconUrls.txt
