@use "../../styles/variables" as *;
#backlinks {
  position: relative;
  color: var(--gray);

  & > ul {
    list-style: none;
    list-style-type: none;

    font-size: var(--text-size-90);
    padding: 0;
    margin: 0;
    margin-left: $baseMargin;

    & > li {
      padding-left: calc(0.5 * $baseMargin);
      text-indent: calc(-0.5 * $baseMargin);
      & > a {
        background-color: transparent;
        color: var(--gray);
      }
    }
  }
}
