@use "../../styles/variables.scss" as *;

.clipboard-button {
  position: absolute;
  display: flex;
  right: 0;
  padding: calc(0.5 * $base-margin);
  margin: calc(0.5 * $base-margin);
  color: var(--gray);
  border: 1px solid var(--lightgray);
  background-color: var(--light);
  border-radius: 5px;
  opacity: 0;
  transition: 0.2s;

  & > svg {
    fill: var(--gray);
    filter: contrast(0.3);
    margin: calc(0.5 * $base-margin);
    padding: 0;
  }

  &:hover {
    cursor: pointer;
    border-color: var(--secondary);
  }

  &:focus {
    outline: 0;
  }
}

pre {
  position: relative;

  &:hover > .clipboard-button {
    opacity: 1;
    transition: 0.2s;
  }
}
