@use "../../styles/variables.scss" as *;

.content-meta {
  margin-top: 0;
  margin-bottom: $baseMargin;
  font-size: var(--text-size-80);
  color: var(--gray);

  &[show-comma="true"] {
    > span:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
