@use "../../styles/variables.scss" as *;
@use "search.scss" as *;

.menu {
  order: 1;
  top: 5px;

  // Applies to all links in the navbar
  & ul {
    list-style: none;
    max-height: none;
    margin: 0.08rem 0;
    margin-top: $base-margin;
    padding: $base-margin;
    background-color: var(--light);

    & li {
      text-align: right;

      & > a {
        color: var(--gray);
        transition: opacity 0.5s ease-out;
        text-decoration: none;
      }
    }
  }

  // Desktop
  @media (min-width: $full-page-width) {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100%;
  }

  @media (max-width: $full-page-width) {
    position: relative;
    text-align: right;
    background-color: transparent;
    display: none;

    &.visible {
      display: block;
    }

    li {
      background-color: var(--light);
    }

    ul {
      position: absolute;
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
      clip-path: inset(0 0 -15px -15px);
      width: max-content;
      right: 0;
      top: 0.72em;
    }
  }
}

// The menu icon
.hamburger {
  vertical-align: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  padding-left: $base-margin;
  padding-right: $base-margin;
  margin-left: calc(1 * $base-margin);
  background: transparent;
  border: none;
  cursor: pointer;

  & span {
    display: block;
    height: 3px;
    background-color: var(--gray);
    margin-bottom: 5px;
  }
}

.x:nth-of-type(1) {
  transition: all 100ms ease-in-out;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 24px;

  @media all and (max-width: $mobile-breakpoint) {
    width: 23px;
  }
}

.x:nth-of-type(2) {
  transition: all 100ms ease-in-out;
  transform-origin: center;
  width: 0;
}

.x:nth-of-type(3) {
  transition: all 100ms ease-in-out;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 24px;

  @media all and (max-width: $mobile-breakpoint) {
    width: 23px;
  }
}

@media all and (max-width: $mobile-breakpoint) {
  .page-title-text {
    font-size: 6vw !important;
  }

  .darkmode label svg {
    width: 15px;
    height: 15px;
  }

  .hamburger span {
    height: 2.5px;
  }
}

@media all and (max-width: $tablet-breakpoint) {
  .search > #search-icon > p {
    padding: 0;
    padding-left: calc(2 * $base-margin);
  }
}

/* Center the site name under the pond video */
.page-title-text {
  font-family: var(--font-text-italic), cursive, sans-serif;
  text-align: center;
  color: var(--gray);

  & a {
    color: inherit;
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }

  @media all and (max-width: $full-page-width) {
    margin-bottom: 0;
    margin-top: calc(0.5 * $base-margin);
  }

  @media all and (min-width: $full-page-width) {
    margin-bottom: $base-margin;
    margin-top: 0;
    font-size: var(--text-size-500);
  }
}

#navbar-left,
.navbar-left {
  display: flex;

  @media all and (min-width: $full-page-width) {
    flex-direction: column;
  }

  align-items: center;
}

#navbar-right {
  display: flex;

  @media all and (min-width: $full-page-width) {
    flex-direction: column;
  }

  align-items: center;
}

@media all and (max-width: $full-page-width) {
  #quartz-body > #left-sidebar {
    width: 100%;
    position: sticky;
  }

  #quartz-body #navbar {
    opacity: 1;
    transition:
      transform 0.45s ease,
      opacity 0.45s ease;
    position: sticky;
    z-index: 910;

    &.shadow {
      box-shadow: 0 2px 4px 0 rgba(#5c5f77, 0.1);
      clip-path: inset(0 0 -1500px 0);
    }
  }

  .hide-above-screen {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }
}

#navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media all and (max-width: $full-page-width) {
    flex-direction: row;
    width: 100%;
    background-color: var(--light);
  }
}

:root[saved-theme="dark"] .shadow {
  @media all and (max-width: $full-page-width) {
    box-shadow: 0 7px 4px 0 #5c5f7752;
    clip-path: inset(0 0 -1500px 0);
  }
}

.header-img {
  filter: saturate(85%);

  // Consistent width and spacing for both img and video
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  margin-top: 0;

  @media all and (max-width: $full-page-width) {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: $base-margin;
    width: 2.5em;
  }
}

// DARKMODE
.darkmode {
  display: inline;
  z-index: 3;

  @media all and (max-width: $full-page-width) {
    position: relative;
    left: inherit;
    top: inherit;
    margin: 0 calc(1.5 * $base-margin);
  }

  position: absolute;
  left: 46%;
  top: 5%;

  & > .toggle {
    display: none;
    box-sizing: border-box;
  }

  & .description {
    position: relative;
    top: -28px;
    left: 23.5px;
    font-size: var(--text-size-80);
    color: var(--gray);
    transition: opacity 0.5s ease;

    &.hidden {
      opacity: 0;
    }
  }

  & svg {
    left: 68%;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    fill: var(--gray);
    transition: opacity 0.1s ease;
  }
}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .toggle ~ label {
  & > #day-icon {
    opacity: 0;
  }

  & > #night-icon {
    opacity: 1;
  }
}

:root .toggle ~ label {
  & > #day-icon {
    opacity: 1;
  }

  & > #night-icon {
    opacity: 0;
  }
}

#nav-searchbar {
  @media all and (min-width: $full-page-width) {
    order: 2; // Search bar comes after other links
    margin-top: $base-margin;
  }
}
