@use "../../styles/variables.scss" as *;
@use "search.scss" as *;

.menu {
  order: 1;
  top: 5px;
  // Applies to all links in the navbar
  & ul {
    list-style: none;
    max-height: none;
    margin-top: $baseMargin;
    margin: 0.08rem 0;
    padding: $baseMargin;
    background-color: var(--light);

    & li {
      text-align: right;

      & > a {
        color: var(--gray);
        transition: opacity 0.5s ease-out;
        text-decoration: none;
      }
    }
  }
  // Desktop
  @media (min-width: $fullPageWidth) {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100%;
  }

  @media (max-width: $fullPageWidth) {
    position: relative;
    text-align: right;
    background-color: transparent;

    display: none;
    &.visible {
      display: block;
    }

    li {
      background-color: var(--light);
    }

    ul {
      position: absolute;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      clip-path: inset(0px 0px -15px -15px);
      width: max-content;
      right: 0px;
      top: 0.72em;
    }
  }
}

// The menu icon
.hamburger {
  vertical-align: center;
  width: 2rem;
  height: 2rem;
  padding: 0;
  padding-left: $baseMargin;
  padding-right: $baseMargin;
  margin-left: calc(1 * $baseMargin);
  background: transparent;
  border: none;
  cursor: pointer;
  & span {
    display: block;
    height: 3px;
    background-color: var(--gray);
    margin-bottom: 5px;
  }
}

.x:nth-of-type(1) {
  transition: all 100ms ease-in-out;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 24px;
}

.x:nth-of-type(2) {
  transition: all 100ms ease-in-out;
  transform-origin: center;
  width: 0;
}

.x:nth-of-type(3) {
  transition: all 100ms ease-in-out;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 24px;
}

@media all and (max-width: $mobileBreakpoint) {
  .page-title-text {
    font-size: 6vw !important;
  }

  .darkmode label svg {
    width: 15px;
    height: 15px;
  }

  .hamburger span {
    height: 2.5px;
  }
}
@media all and (max-width: $tabletBreakpoint) {
  .search > #search-icon > p {
    padding: 0;
    padding-left: calc(2 * $baseMargin);
  }
}
/* Center the site name under the pond video */
.page-title-text {
  font-family: var(--font-text-italic), cursive, sans-serif;
  text-align: center;
  color: var(--gray);

  & a {
    color: inherit;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }

  @media all and (max-width: $fullPageWidth) {
    margin-bottom: 0em;
    margin-top: calc(0.5 * $baseMargin);
  }
  @media all and (min-width: $fullPageWidth) {
    margin-bottom: $baseMargin;
    margin-top: 0;
    font-size: var(--text-size-500);
  }
}

#navbar-left {
  display: flex;
  @media all and (min-width: $fullPageWidth) {
    flex-direction: column;
  }
  align-items: center;
}

#navbar-right {
  display: flex;
  @media all and (min-width: $fullPageWidth) {
    flex-direction: column;
  }
  align-items: center;
}

@media all and (max-width: $fullPageWidth) {
  #quartz-body > #left-sidebar {
    width: 100%;
    position: sticky;
  }
  #quartz-body #navbar {
    transition:
      top 0.3s ease,
      opacity 0.3s ease;
    position: sticky;
    z-index: 910;
    &.shadow {
      // This is light-theme mode
      box-shadow: 0 2px 4px 0px rgba(#5c5f77, 0.1);
      clip-path: inset(0px 0px -1500px 0px);
    }
  }
  .hide-above-screen {
    top: -100px;
    opacity: 0;
  }
}

#navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media all and (max-width: $fullPageWidth) {
    flex-direction: row;
    width: 100%;
    background-color: var(--light);
  }
}
:root[saved-theme="dark"] .shadow {
  @media all and (max-width: $fullPageWidth) {
    box-shadow: 0 7px 4px 0 #5c5f7752;
    clip-path: inset(0px 0px -1500px 0px);
  }
}

.header-img {
  filter: saturate(85%);

  // Consistent width and spacing for both img and video
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  @media all and (max-width: $fullPageWidth) {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: $baseMargin;
    width: 2.5em;
  }
}

// DARKMODE
.darkmode {
  display: inline;
  z-index: 3;

  @media all and (max-width: $fullPageWidth) {
    position: relative;
    left: inherit;
    top: inherit;
    margin: 0 calc(1.5 * $baseMargin);
  }

  position: absolute;
  left: 46%;
  top: 5%;

  & > .toggle {
    display: none;
    box-sizing: border-box;
  }

  & .description {
    position: relative;
    top: -28px;
    left: 23.5px;
    font-size: var(--text-size-80);
    color: var(--gray);
    transition: opacity 0.5s ease;

    &.hidden {
      opacity: 0;
    }
  }

  & svg {
    position: relative;
    left: 68%;
    transition: opacity 0.5s ease;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    fill: var(--gray);
    transition: opacity 0.1s ease;
  }
}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .toggle ~ label {
  & > #dayIcon {
    opacity: 0;
  }
  & > #nightIcon {
    opacity: 1;
  }
}

:root .toggle ~ label {
  & > #dayIcon {
    opacity: 1;
  }
  & > #nightIcon {
    opacity: 0;
  }
}

#nav-searchbar {
  @media all and (min-width: $fullPageWidth) {
    order: 2; // Search bar comes after other links
    margin-top: $baseMargin;
  }
}
