@use "../../styles/variables.scss" as *;

.menu {
  // Applies to all links in the navbar
  & ul {
    list-style: none;
    max-height: none;
    transition: max-height 0.35s ease;
    margin-top: 0.5rem;
    margin: 0.08rem 0;
    padding: 0;

    & li > a {
      color: var(--gray);
      text-decoration: none;
    }
  }
  // Desktop
  @media (min-width: $tabletBreakpoint) {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100%;
  }

  @media (max-width: $tabletBreakpoint) {
    position: absolute;
    top: 2em;
    text-align: right;
    right: 1em;
    transition: margin-top 0.35s ease;
    background-color: transparent;

    display: none;
    &.visible {
      display: block;
    }
  }
}

// The icon
.hamburger {
  position: absolute;
  right: 1em;
  top: 1em;

  width: 2.6em;
  height: 2em;
  background: transparent;
  border: none;
  cursor: pointer;
  & span {
    display: block;
    height: 3px;
    background-color: var(--gray);
    margin-bottom: 5px;
  }
}
