@use "../../styles/variables.scss" as *;

@keyframes dropin {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.popover {
  z-index: 10;
  position: absolute;
  overflow: visible;

  // Make there be the hand pointer when hovering over the popover
  cursor: pointer;

  padding: calc(2 * $baseMargin);

  & #not-found-div-popover {
    margin-top: calc($baseMargin);
  }

  & > .popover-inner {
    position: relative;
    width: 20rem;
    max-height: 15rem;
    padding: 0 1rem 1rem 1rem;
    font-weight: initial;
    font-style: initial;
    line-height: var(--base-line-height);
    font-size: var(--text-size-90);
    font-family: var(--font-text);

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--dark);
    }
    & ol {
      & li {
        counter-increment: list-popover;
        // Nested lists
        & ol {
          counter-reset: sublist-popover; // Each nested ordered list has its own sublist counter
          & li {
            counter-increment: sublist-popover; // Increment the sublist counter for nested list items
            &::before {
              content: counters(list-popover, ".") "." counters(sublist-popover, "."); // Display combined list and sublist counters for nested list items
            }
            &:first-child {
              margin-top: var(--li-margin); // Remove top margin from the first nested list item
            }
          }
        }
      }

      & li::before {
        font-variant-numeric: lining-nums;
        content: counter(list-popover) ".";
      }
      & li[id^="user-content-fn-"] {
        counter-increment: footnote-popover;
        &::before {
          font-size: var(--text-size-90);
          content: counter(footnote-popover) ".";
        }

        & ol {
          counter-increment: footnote-popover-sublist;
          & li::before {
            content: counters(footnote-popover, ".") "." counters(footnote-popover-sublist, ".");
          }
        }
      }
    }
    border: 1px solid var(--lightgray);
    background-color: var(--light);
    border-radius: 5px;
    box-shadow: 6px 6px 36px 0 rgba(0, 0, 0, 0.25);
    overflow: auto;
    white-space: normal;
  }

  & > .popover-inner[data-content-type] {
    &[data-content-type*="pdf"],
    &[data-content-type*="image"] {
      padding: 0;
      max-height: 100%;
    }

    &[data-content-type*="image"] {
      img {
        margin: 0;
        border-radius: 0;
        display: block;
      }
    }

    &[data-content-type*="pdf"] {
      iframe {
        width: 100%;
      }
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.15s ease,
    visibility 0.15s ease;

  // $fullPageWidth is 1580px, but for some reason it isn't working
  //  so I manually set the breakpoint to 1580px
  @media all and (max-width: 1580px) {
    display: none !important;
  }
}

// The initial animation is more complicated and is handled via JS
.popover-visible {
  animation: dropin 0.3s ease;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}
