@use "../../styles/variables.scss" as *;

#navbar-right {
  @media all and (max-width: $full-page-width) {
    display: flex;
    align-items: center;
  }
}

.search {
  @media all and (min-width: $full-page-width) {
    margin-top: calc(2 * $base-margin);
    margin-left: auto;
    margin-right: auto;
  }

  display: flex;
  flex-direction: row-reverse;
  min-width: fit-content;

  & > #search-icon {
    background-color: var(--color-background);
    border-radius: 4px;

    // transition: background-color 0.3s ease-in-out;
    height: 1.6rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;

    & > div {
      flex-grow: 1;
    }

    & > p {
      font-size: var(--text-size-90);
      color: color-mix(in srgb, var(--gray) 75%, var(--dark));
      display: inline;
      padding: 0 calc(2 * $base-margin);
      margin-left: -0.4em;
    }

    & svg {
      cursor: pointer;
      width: 0.625rem;
      margin: 0 $base-margin;

      .search-path {
        stroke: var(--gray);
        stroke-width: 2px;
        transition: stroke 0.5s ease;
      }
    }
  }
}

.search:has(> #search-container) {
  position: absolute; // Don't interrupt the flow of the page
}

#search-container {
  position: fixed;
  contain: layout;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: none;
  backdrop-filter: blur(4px);

  & li > p {
    margin-block: 0;
  }

  &.active {
    display: inline-block;
  }

  & > #search-space {
    width: 65%;
    margin-top: 12vh;
    margin-left: auto;
    margin-right: auto;

    @media all and (max-width: $full-page-width) {
      width: 90%;
    }

    & > * {
      width: 100%;
      border-radius: 7px;
      background: var(--light);
      box-shadow:
        0 14px 50px rgb(27 33 48 / 12%),
        0 10px 30px rgb(27 33 48 / 16%);
      margin-bottom: calc(4 * $base-margin);
    }

    & > input {
      box-sizing: border-box;
      padding: $base-margin calc(2 * $base-margin);
      font-family: var(--font-text);
      font-size: var(--text-size-100);
      border: 1px solid var(--lightgray);
      color: var(--dark);

      &::placeholder {
        color: var(--dark);
      }

      &:focus {
        outline: none;
      }
    }

    & > #search-layout {
      display: none;
      flex-direction: row;
      border: 1px solid var(--lightgray);
      flex: 0 0 100%;
      box-sizing: border-box;

      &.display-results {
        display: flex;
      }

      &[data-preview] > #results-container {
        flex: 0 0 min(30%, 450px);
      }

      @media all and (min-width: $mobile-breakpoint) {
        &[data-preview] {
          & .result-card > p.preview {
            display: none;
          }

          & > div {
            &:first-child {
              border-right: 1px solid var(--lightgray);
              border-top-right-radius: unset;
              border-bottom-right-radius: unset;
            }

            &:last-child {
              border-top-left-radius: unset;
              border-bottom-left-radius: unset;
            }
          }
        }
      }

      & > div {
        height: calc(75vh - 12vh);
        border-radius: 5px;
      }

      @media all and (max-width: $tablet-breakpoint) {
        & > #preview-container {
          display: none !important;
        }

        &[data-preview] > #results-container {
          width: 100%;
          height: auto;
          flex: 0 0 100%;
        }
      }

      & .highlight {
        background: color-mix(in srgb, var(--tertiary) 60%, rgb(255 255 255 / 0%));
        border-radius: 5px;
        scroll-margin-top: 2rem;
      }

      & > #preview-container {
        display: block;
        overflow: hidden;
        font-family: inherit;
        color: var(--dark);
        line-height: 1.5em;
        font-weight: $normal-weight;
        overflow-y: auto;
        padding: 0 2rem;

        & .preview-inner {
          margin: 0 auto;
          width: min($page-width, 100%);
        }

        a[role="anchor"] {
          background-color: transparent;
        }
      }

      & > #results-container {
        overflow-y: auto;

        & .result-card {
          overflow: hidden;
          text-decoration: none;
          padding: 1em;
          cursor: pointer;
          transition: background 0.2s ease;
          border-bottom: 1px solid var(--lightgray);
          width: 100%;
          display: block;
          box-sizing: border-box;

          // normalize card props
          font-family: inherit;

          // font-size: 100%;
          // line-height: 1.15;
          margin: 0;
          text-transform: none;
          text-align: left;
          outline: none;
          font-weight: inherit;

          &:hover,
          &:focus,
          &.focus {
            background: color-mix(in srgb, var(--lightgray) 40%, var(--light));
          }

          & > h3 {
            margin: 0;
          }

          & > ul.tags {
            margin-top: $base-margin;
            margin-bottom: 0;
          }

          & > ul > li > p {
            border-radius: 8px;
            background-color: var(--highlight);
            padding: 0.2rem 0.4rem;
            line-height: 1.4rem;
            font-weight: $bold-weight;
            color: var(--secondary);

            &.match-tag {
              color: var(--tertiary);
            }
          }

          & > p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
