@use "../../styles/variables" as *;
.toc-title {
  margin-top: 0;
  margin-bottom: $baseMargin;
  & a {
    text-decoration: none;
  }
}

button#toc {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  color: var(--dark);
  display: flex;
  align-items: center;

  & h3 {
    // font-size: var(--font-size-h3);
    display: inline-block;
    margin: 0;
  }

  & .fold {
    margin-left: $baseMargin;
    transition: transform 0.3s ease;
    opacity: 0.8;
  }

  &.collapsed .fold {
    transform: rotateZ(-90deg);
  }
}

ul.overflow {
}

ul.overflow,
ol.overflow {
  overflow-y: auto;
  margin-bottom: 0;

  // clearfix
  content: "";
  clear: both;
}

#toc-content {
  list-style: none;
  overflow: visible;
  max-height: none;
  transition: max-height 0.5s ease;
  position: relative;
  font-size: var(--text-size-90);
  &.collapsed > .overflow::after {
    opacity: 0;
  }

  & ul {
    list-style: none;
    padding: 0;
    line-height: 1.05em;
    & p {
    }

    & > li {
      border-left: 2px solid var(--lightergray);
      padding-bottom: calc(0.5 * $baseMargin);

      & > a {
        text-decoration: none;
        color: var(--dark);
        opacity: 0.35;
        transition:
          0.5s ease opacity,
          0.3s ease color;
        &.in-view {
          opacity: 0.75;
        }
      }
    }
  }

  --text-indent-multiple: -0.75;
  & .depth-0 {
    padding-left: calc(-1 * var(--text-indent-multiple) * $baseMargin);
    border-left: none;
  }

  @for $i from 1 through 6 {
    // Indent the text after first line
    text-indent: calc(var(--text-indent-multiple) * $baseMargin);

    // Position the left border closer to the li
    & .depth-#{$i} {
      font-size: var(--text-size-85);
      padding-left: calc($baseMargin * 2 * #{$i} - 0.5 * $baseMargin);
      margin-left: $baseMargin;
    }
  }
}
