@use "../../styles/variables" as *;
.toc-title {
  margin-top: 0;
  margin-bottom: $baseMargin;
  & a {
    text-decoration: none;
  }
}

button#toc {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  color: var(--dark);
  display: flex;
  align-items: center;

  & h3 {
    // font-size: var(--font-size-h3);
    display: inline-block;
    margin: 0;
  }

  & .fold {
    margin-left: $baseMargin;
    transition: transform 0.3s ease;
    opacity: 0.8;
  }

  &.collapsed .fold {
    transform: rotateZ(-90deg);
  }
}

#toc-content {
  list-style: none;
  overflow: visible;
  max-height: none;
  transition: max-height 0.5s ease;
  position: relative;
  font-size: var(--text-size-90);
  &.collapsed > .overflow::after {
    opacity: 0;
  }

  & ul {
    list-style: none;
    // margin: 0.5rem 0;
    padding: 0;
    line-height: 1.2rem;

    & > li {
      // margin-bottom: 1px;
    }
    & > li > a {
      padding-bottom: $baseMargin;
      text-decoration: none;
      color: var(--dark);
      opacity: 0.35;
      transition:
        0.5s ease opacity,
        0.3s ease color;
      &.in-view {
        opacity: 0.75;
      }
    }
  }

  & .depth-0 {
    padding-left: 0;
  }
  @for $i from 1 through 6 {
    & .depth-#{$i} {
      font-size: var(--text-size-85);
      padding-left: calc(1rem * #{$i});
    }
  }
}
