article > p:first-of-type {
  position: relative;
  min-height: 4.2rem;
}
article > p:first-of-type::before {
  content: attr(data-first-letter);
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4rem;
  line-height: 1;
  padding-right: 0.1em;
  font-family: "EBGaramondInitialsF2";
}

article > p:first-of-type::first-letter {
  text-transform: uppercase;
  font-style: normal !important;
  float: left;
  pointer-events: none; /* Ensure it doesn't interfere with user interactions */
  color: var(--lightgray);
  font-size: 4rem;
  line-height: 1;
  padding-right: 0.1em;
  font-family: "EBGaramondInitialsF1";
  font-weight: 500 !important;
}

article > p:first-of-type::first-line {
  font-family: "EBGaramondSC" !important;
}

article > p:first-of-type em,
article > p:first-of-type b,
article > p:first-of-type strong {
  font-family: inherit !important;
}

article > p:first-of-type .small-caps {
  font-family: "EBGaramondSC" !important;
}


article > p[data-first-letter="f"]::before,
article > p[data-first-letter="F"]::before {
  padding-left: 0.025em;
}
