@use "./variables.scss" as *;
@use "sass:color";
@use "./colors";

.callout,
.timeline-card {
  margin: 1rem 0;
  overflow: hidden;
  padding: 0 1rem;
}

.callout {
  --border: color-mix(in srgb, var(--color) 60%, var(--base));
  --bg: color-mix(in srgb, var(--color) 4%, var(--base));
  --callout-icon-note: url("https://assets.turntrout.com/static/icons/note.svg");
  --callout-icon-abstract: url("https://assets.turntrout.com/static/icons/abstract.svg");
  --callout-icon-info: url("https://assets.turntrout.com/static/icons/info.svg");
  --callout-icon-todo: url("https://assets.turntrout.com/static/icons/todo.svg");
  --callout-icon-tip: url("https://assets.turntrout.com/static/icons/plus.svg");
  --callout-icon-success: url("https://assets.turntrout.com/static/icons/success.svg");
  --callout-icon-question: url("https://assets.turntrout.com/static/icons/question.svg");
  --callout-icon-warning: url("https://assets.turntrout.com/static/icons/warning.svg");
  --callout-icon-failure: url("https://assets.turntrout.com/static/icons/failure.svg");
  --callout-icon-danger: url("https://assets.turntrout.com/static/icons/danger.svg");
  --callout-icon-bug: url("https://assets.turntrout.com/static/icons/bug.svg");
  --callout-icon-example: url("https://assets.turntrout.com/static/icons/example.svg");
  --callout-icon-quote: url("https://assets.turntrout.com/static/icons/quote.svg");
  --callout-icon-idea: url("https://assets.turntrout.com/static/icons/lightbulb.svg");
  --callout-icon-goose: url("https://assets.turntrout.com/static/icons/goose.svg");
  --callout-icon-fold: url("https://assets.turntrout.com/static/icons/fold.svg");
  --callout-icon-thanks: url("https://assets.turntrout.com/static/icons/heart.svg");
  --callout-icon-tag: url("https://assets.turntrout.com/static/icons/tag.svg");
  --callout-icon-link: url("https://assets.turntrout.com/static/icons/link.svg");
  --callout-icon-math: url("https://assets.turntrout.com/static/icons/math.svg");
  --callout-icon-money: url("https://assets.turntrout.com/static/icons/dollar.svg");

  border: 1px solid var(--border);
  background-color: var(--bg);
  scrollbar-color: var(--midground-fainter) var(--bg);
  border-radius: 5px;
  transition: max-height 0.3s ease;
  box-sizing: border-box;

  & blockquote {
    border-left: 2px solid var(--border);
  }

  & .callout {
    border-left: 2px solid var(--border);
  }

  & > *:nth-child(2) {
    margin-top: 0;
  }

  & .callout-content {
    margin-bottom: calc(2 * $base-margin);
  }

  // Gray by default
  &[data-callout] {
    --color: color-mix(in srgb, var(--base) 15%, var(--foreground));
    --callout-icon: var(--callout-icon-note);
  }

  // Green
  &[data-callout="success"],
  &[data-callout="money"] {
    --color: color-mix(in srgb, var(--green) 65%, var(--foreground));
  }

  &[data-callout="success"] {
    --callout-icon: var(--callout-icon-success);
  }

  &[data-callout="money"] {
    --callout-icon: var(--callout-icon-money);
  }

  // Yellow
  &[data-callout="question"] {
    --color: color-mix(in srgb, var(--yellow) 70%, var(--foreground));
    --callout-icon: var(--callout-icon-question);
  }

  &[data-callout="todo"] {
    --color: color-mix(in srgb, var(--yellow) 70%, var(--foreground));
    --callout-icon: var(--callout-icon-todo);
  }

  &[data-callout="idea"] {
    --color: color-mix(in srgb, var(--yellow) 70%, var(--foreground));
    --callout-icon: var(--callout-icon-idea);
  }

  // Orange
  &[data-callout="warning"] {
    --color: color-mix(in srgb, var(--orange) 60%, var(--foreground));
    --bg: color-mix(in srgb, var(--color) 10%, var(--base));
    --callout-icon: var(--callout-icon-warning);
  }

  // Red
  &[data-callout="failure"],
  &[data-callout="bug"],
  &[data-callout="danger"] {
    --color: color-mix(in srgb, var(--red) 70%, var(--foreground));
    --bg: color-mix(in srgb, var(--color) 10%, var(--base));
  }

  // Pink
  &[data-callout="thanks"] {
    --color: color-mix(in srgb, var(--pink) 70%, var(--foreground));
    --callout-icon: var(--callout-icon-thanks);
  }

  &[data-callout="failure"] {
    --callout-icon: var(--callout-icon-failure);
  }

  &[data-callout="bug"] {
    --callout-icon: var(--callout-icon-bug);
  }

  &[data-callout="abstract"] {
    --callout-icon: var(--callout-icon-abstract);
  }

  &[data-callout="info"] {
    --callout-icon: var(--callout-icon-info);
  }

  &[data-callout="tip"] {
    --callout-icon: var(--callout-icon-tip);
  }

  &[data-callout="danger"] {
    --callout-icon: var(--callout-icon-danger);
  }

  &[data-callout="example"] {
    --callout-icon: var(--callout-icon-example);
  }

  &[data-callout="quote"] {
    --callout-icon: var(--callout-icon-quote);
  }

  &[data-callout="tag"] {
    --callout-icon: var(--callout-icon-tag);
  }

  &[data-callout="link"] {
    --callout-icon: var(--callout-icon-link);
  }

  &[data-callout="math"] {
    --callout-icon: var(--callout-icon-math);
  }

  :root[saved-theme="dark"] & {
    &[data-callout="abstract"],
    &[data-callout="tip"] {
      --color: color-mix(in srgb, var(--teal) 85%, var(--base));
    }

    &[data-callout="failure"],
    &[data-callout="danger"],
    &[data-callout="bug"] {
      --border: color-mix(in srgb, var(--color) 70%, var(--base));
    }
  }

  &[data-callout="quote"] > * > .callout-icon {
    transform: scale(-1, -1); // Flip across the y-axis
  }

  &[data-callout="goose"] {
    --callout-icon: var(--callout-icon-goose);
  }

  &.is-collapsed > .callout-title > .fold-callout-icon {
    transform: rotateZ(-90deg);
  }

  &.is-collapsible {
    > .callout-content {
      transition: max-height 0.3s ease;
      overflow: hidden;
    }
  }

  &.is-collapsed {
    > .callout-content {
      display: none;
      max-height: 0 !important;
    }
  }
}

// These tags should generally be less bright
#content-meta .callout-metadata {
  background-color: var(--base); // "see-through"

  --border: color-mix(in srgb, var(--color) 30%, var(--base));

  & > .callout-title {
    margin-top: calc($base-margin);
  }

  & > .callout-content {
    margin-bottom: calc($base-margin);
    margin-top: calc($base-margin);

    & > *:last-child {
      margin-bottom: 0;
    }

    & > *:first-child {
      margin-top: 0;
    }
  }
}

.callout-title {
  display: flex;
  align-items: stretch;
  gap: $base-margin;
  margin: calc(2 * $base-margin) 0;
  margin-bottom: calc(1.5 * $base-margin);

  --icon-size: 18px;

  .callout-metadata & {
    margin-bottom: calc($base-margin);
  }

  & .fold-callout-icon {
    transition: transform 0.15s ease;
    opacity: 0.8;
    cursor: pointer;

    --callout-icon: var(--callout-icon-fold);
  }

  .callout-icon,
  & .fold-callout-icon {
    flex: 0 0 var(--icon-size);
    background-color: var(--color);
    mask-image: var(--callout-icon);
    mask-size: var(--icon-size) var(--icon-size);
    mask-position: center;
    mask-repeat: no-repeat;
  }

  .callout-title-inner {
    margin: 0;
    color: var(--color);
    font-weight: $semi-bold-weight;
    font-variant-numeric: lining-nums;
    line-height: auto;

    .callout-metadata & {
      color: var(--midground);
    }

    & p {
      margin: 0;
    }

    & a,
    & p {
      color: inherit;
    }

    & .small-caps,
    & sup {
      font-variant-numeric: normal;
    }

    & a {
      font-weight: inherit;
    }
  }
}

.callout-content,
.timeline-info {
  & p:not(.subtitle):first-child,
  & > .vsc-controller + p {
    // vsc-controllers can be spawned ahead of the first paragraph
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.footnotes .callout {
  padding-bottom: calc(2 * $base-margin);
}
