@use "./variables.scss" as *;
@use "sass:color";
@use "./colors.scss";

.callout {
  border: 1px solid var(--border);

  --border: color-mix(in srgb, var(--color) 60%, var(--base));
  & blockquote {
    border-left: 3px solid var(--border);
  }
  --bg: color-mix(in srgb, var(--color) 4%, var(--base));
  background-color: var(--bg);
  scrollbar-color: var(--lightergray) var(--bg);
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0 1rem;
  overflow: hidden; // Ensure content doesn't overflow during transition
  transition: max-height 0.3s ease;
  box-sizing: border-box;

  & > *:nth-child(2) {
    margin-top: 0;
  }

  & .callout-content {
    margin-bottom: calc(2 * $baseMargin);

    & p:first-child {
      margin-top: 0;
    }

    & p:last-child {
      margin-bottom: 0;
    }
  }

  --callout-icon-note: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="2" x2="22" y2="6"></line><path d="M7.5 20.5 19 9l-4-4L3.5 16.5 2 22z"></path></svg>');
  --callout-icon-abstract: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><path d="M12 11h4"></path><path d="M12 16h4"></path><path d="M8 11h.01"></path><path d="M8 16h.01"></path></svg>');
  --callout-icon-info: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>');
  --callout-icon-todo: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"></path><path d="m9 12 2 2 4-4"></path></svg>');
  --callout-icon-tip: url("https://assets.turntrout.com/static/images/plus.svg");
  --callout-icon-success: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg> ');
  --callout-icon-question: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg> ');
  --callout-icon-warning: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>');
  --callout-icon-failure: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> ');
  --callout-icon-danger: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg> ');
  --callout-icon-bug: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="8" height="14" x="8" y="6" rx="4"></rect><path d="m19 7-3 2"></path><path d="m5 7 3 2"></path><path d="m19 19-3-2"></path><path d="m5 19 3-2"></path><path d="M20 13h-4"></path><path d="M4 13h4"></path><path d="m10 4 1 2"></path><path d="m14 4-1 2"></path></svg>');
  --callout-icon-example: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg> ');
  --callout-icon-quote: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 21c3 0 7-1 7-8V5c0-1.25-.756-2.017-2-2H4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2 1 0 1 0 1 1v1c0 1-1 2-2 2s-1 .008-1 1.031V20c0 1 0 1 1 1z"></path><path d="M15 21c3 0 7-1 7-8V5c0-1.25-.757-2.017-2-2h-4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2h.75c0 2.25.25 4-2.75 4v3c0 1 0 1 1 1z"></path></svg>');
  --callout-icon-idea: url("https://assets.turntrout.com/static/images/lightbulb.svg");
  --callout-icon-goose: url("https://assets.turntrout.com/static/images/goose.svg");
  --callout-icon-fold: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolyline points="6 9 12 15 18 9"%3E%3C/polyline%3E%3C/svg%3E');
  --callout-icon-thanks: url("https://assets.turntrout.com/static/images/heart.svg");
  --callout-icon-tag: url("https://assets.turntrout.com/static/images/tag.svg");
  --callout-icon-link: url("https://assets.turntrout.com/static/images/link.svg");
  --callout-icon-math: url("https://assets.turntrout.com/static/images/math.svg");

  // Gray by default
  &[data-callout] {
    --color: color-mix(in srgb, var(--base) 15%, var(--dark));
    --callout-icon: var(--callout-icon-note);
  }

  // Green
  &[data-callout="success"] {
    --color: color-mix(in srgb, var(--green) 65%, var(--dark));
    --callout-icon: var(--callout-icon-success);
  }

  // Yellow
  &[data-callout="question"] {
    --color: color-mix(in srgb, var(--yellow) 70%, var(--dark));
    --callout-icon: var(--callout-icon-question);
    & .callout-icon {
      -webkit-mask-position-y: 3.25px;
    }
  }
  &[data-callout="todo"] {
    --color: color-mix(in srgb, var(--yellow) 70%, var(--dark));
    --callout-icon: var(--callout-icon-todo);
  }
  &[data-callout="idea"] {
    --color: color-mix(in srgb, var(--yellow) 70%, var(--dark));
    --callout-icon: var(--callout-icon-idea);
  }

  // Orange
  &[data-callout="warning"] {
    --color: color-mix(in srgb, var(--orange) 60%, var(--dark));
    --bg: color-mix(in srgb, var(--color) 10%, var(--base));
  }

  // Red
  &[data-callout="failure"],
  &[data-callout="bug"],
  &[data-callout="danger"] {
    --color: color-mix(in srgb, var(--red) 70%, var(--dark));
    --bg: color-mix(in srgb, var(--color) 10%, var(--base));
  }

  // Pink
  &[data-callout="thanks"] {
    --color: color-mix(in srgb, var(--pink) 70%, var(--dark));
    --callout-icon: var(--callout-icon-thanks);
  }

  &[data-callout="failure"] {
    --callout-icon: var(--callout-icon-failure);
  }
  &[data-callout="warning"] {
    --callout-icon: var(--callout-icon-warning);
  }
  &[data-callout="bug"] {
    --callout-icon: var(--callout-icon-bug);
  }

  &[data-callout="abstract"] {
    --callout-icon: var(--callout-icon-abstract);
  }

  &[data-callout="info"] {
    --callout-icon: var(--callout-icon-info);
  }

  &[data-callout="tip"] {
    --callout-icon: var(--callout-icon-tip);
  }

  &[data-callout="danger"] {
    --callout-icon: var(--callout-icon-danger);
  }

  &[data-callout="example"] {
    --callout-icon: var(--callout-icon-example);
    margin-right: calc(0.25 * $baseMargin);
    & .callout-icon {
      -webkit-mask-position-y: 5.5px; // Make sure this is centered
    }
  }

  &[data-callout="quote"] {
    --callout-icon: var(--callout-icon-quote);
  }

  &[data-callout="tag"] {
    --callout-icon: var(--callout-icon-tag);
  }

  &[data-callout="link"] {
    --callout-icon: var(--callout-icon-link);
    margin-right: calc(0.25 * $baseMargin);
  }

  &[data-callout="math"] {
    --callout-icon: var(--callout-icon-math);
  }

  :root[saved-theme="dark"] & {
    &[data-callout="abstract"],
    &[data-callout="tip"] {
      --color: color-mix(in srgb, var(--teal) 85%, var(--base));
    }

    &[data-callout="failure"],
    &[data-callout="danger"],
    &[data-callout="bug"] {
      --border: color-mix(in srgb, var(--color) 70%, var(--base));
    }
  }

  &[data-callout="quote"] .callout-icon {
    transform: scale(-1, -1); // Flip across the y-axis
    margin-right: calc(0.5 * $baseMargin);
  }

  &[data-callout="goose"] {
    --callout-icon: var(--callout-icon-goose);
  }

  &.is-collapsed > .callout-title > .fold-callout-icon {
    transform: rotateZ(-90deg);
  }

  &.is-collapsible {
    > .callout-content {
      transition: max-height 0.3s ease;
      overflow: hidden;
    }
  }

  &.is-collapsed {
    > .callout-content {
      display: none;
      max-height: 0 !important;
    }
  }
}

// These tags should generally be less bright
.callout-metadata {
  background-color: var(--base); // "see-through"
  --border: color-mix(in srgb, var(--color) 30%, var(--base));

  .callout-content {
    margin-bottom: calc($baseMargin);
  }

  & > .callout-content > *:last-child {
    margin-bottom: 0;
  }
  & > .callout-content > *:first-child {
    margin-top: 0;
  }
}

.callout-title {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin: calc(2 * $baseMargin) 0;
  margin-bottom: calc(1.5 * $baseMargin);

  --icon-size: 18px;

  .callout-metadata & {
    margin-bottom: calc($baseMargin);
  }

  & .fold-callout-icon {
    transition: transform 0.15s ease;
    opacity: 0.8;
    cursor: pointer;
    --callout-icon: var(--callout-icon-fold);
  }

  & > .callout-title-inner {
    margin: 0;
    color: var(--color);

    .callout-metadata & {
      color: var(--gray);
    }

    & p {
      margin: 0;
    }

    & a,
    & p {
      color: inherit;
    }
  }

  .callout-icon,
  & .fold-callout-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    flex: 0 0 var(--icon-size);

    // icon support
    background-size: var(--icon-size) var(--icon-size);
    background-position: center;
    background-color: var(--color);
    mask-image: var(--callout-icon);
    mask-size: var(--icon-size) var(--icon-size);
    mask-repeat: no-repeat;
    padding: 0.2rem 0;

    // Align with the text
    mask-position: none;
    -webkit-mask-position: none;
    -webkit-mask-position-y: 5.5px;
  }

  .callout-title-inner {
    font-weight: $semiBoldWeight;
    font-variant-numeric: lining-nums;
    & .small-caps {
      font-variant-numeric: normal;
    }

    & sup {
      font-variant-numeric: normal;
    }

    & a {
      font-weight: inherit;
    }
  }
}

.footnotes .callout {
  padding-bottom: calc(2 * $baseMargin);
}
