:root[saved-theme="dark"] {
  // Catppuccin Frappe
  --rosewater: #f2d5cf;
  --pink: #fba7e4;
  --red: #de585a;
  --orange: #db8942;
  --yellow: #e5c890;
  --green: #a6d189;
  --teal: #81c8be;
  --sky: #99d1db;
  --blue: #8caaee;
  --lavender: #8788d3;
  --purple: #a86de1;
  --text: #c6d0f5;
  --subtext-1: #b5bfe2;
  --subtext-0: #a5adce;
  --overlay-2: #949cbb;
  --overlay-1: #838ba7;
  --overlay-0: #737994;
  --surface-2: #626880;
  --surface-1: #51576d;
  --surface-0: #414559;
  --base: #303446;
  --mantle: #292c3c;
  --crust: #232634;

  --color-visited: color-mix(in srgb, var(--red) 50%, var(--blue));
}

// Catppuccin Latte
:root[saved-theme="light"] {
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ee7ed0;
  --amaranth: #9f2b68; // I love this song by Nightwish
  --red: #be415c;
  --orange: #e08c43;
  --yellow: #dd8b19;
  --green: #40a02b;
  --teal: #179299;
  --sky: #008bc3;
  --blue: #406ecc;
  --lavender: #7287fd;
  --purple: #6f42c1;
  --text: #4c4f69;
  --subtext-1: #5c5f77;
  --subtext-0: #6c6f85;
  --overlay-2: #7c7f93;
  --overlay-1: #8c8fa1;
  --overlay-0: #9ca0b0;
  --surface-2: #acb0be;
  --surface-1: #bcc0cc;
  --surface-0: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;

  --color-visited: color-mix(in srgb, var(--amaranth) 47%, var(--blue));
}

:root {
  --color-background: color-mix(in srgb, var(--lightgray) 19%, var(--light));
  --lightergray: color-mix(in srgb, transparent 70%, var(--lightgray));
  --lightestgray: color-mix(in srgb, transparent 90%, var(--lightgray));

  --color-link: light-dark(color-mix(in srgb, var(--secondary) 30%, var(--dark)), var(--secondary));
  @each $color in ("red", "pink", "green", "teal", "blue", "purple", "orange", "yellow") {
    --background-#{$color}: color-mix(in srgb, var(--#{$color}) 30%, var(--light));
    --border-#{$color}: color-mix(in srgb, var(--#{$color}) 50%, var(--light));
  }
}

// Mermaid
@each $color in ("red", "green", "blue", "yellow", "purple", "orange") {
  rect {
    color: var(--dark) !important;
    fill: var(--light) !important;
    stroke: var(--lightgray) !important;
  }
  .#{$color} > rect {
    fill: var(--background-#{$color}) !important;
    stroke: var(--border-#{$color}) !important;
  }
}
