@use "./base.scss";
@use "./variables.scss" as *;
@use "table.scss";
@use "colors.scss";

:root {
  --font-bad-handwriting: "BadHandwriting";
}
.explorer {
  text-align: center;

  & a {
    text-decoration: none;
  }
  & .visited {
    color: inherit;
  }
}

.popover dl,
.popover article {
  color: var(--dark);
}

em {
  font-style: italic;
  font-family: var(--font-text-italic);
}

ol,
ul {
  margin-block-start: calc(2 * $baseMargin);
  margin-block-end: calc(2 * $baseMargin);
  padding-left: calc(3 * $baseMargin);
  // padding-inline-start: calc(3 * $baseMargin);
}

dd > ul:first-child,
dd > ol:first-child {
  margin-top: 0;
}

ol {
  --li-margin: 4px; // Ensure list items are spaced more than just line-height
  & > li {
    counter-increment: list; // Increment the list counter for each list item
    list-style-type: none; // Remove default list item numbering
    margin-bottom: var(--li-margin);

    &::before {
      font-variant-numeric: lining-nums; // Use lining numbers for list items
      color: var(--gray);
      text-align: right;
      content: counters(list, ".") "."; // Display the list counter with periods
      margin-right: calc(0.5 * $baseMargin);
      flex-shrink: 0;
    }

    // Nested lists
    ol {
      counter-reset: sublist; // Each nested ordered list has its own sublist counter
      li {
        counter-increment: sublist; // Increment the sublist counter for nested list items
        &::before {
          content: counters(list, ".") "." counters(sublist, "."); // Display combined list and sublist counters for nested list items
        }
        &:first-child {
          margin-top: var(--li-margin); // Remove top margin from the first nested list item
        }
      }
    }
  }

  // This comes in an h2 right before the footnotes.
  .footnote-label {
    counter-reset: footnote;
  }

  li[id^="user-content-fn-"] {
    // Target li elements whose id attribute value starts with 'user-content-fn-'
    display: flex; // This ensures the number and the text are in the same line
    counter-increment: footnote; // Increment the footnote counter for each matching li
    margin-bottom: $baseMargin; // Add a bottom margin to the list items

    // Make the backref arrows look nice
    & .data-footnote-backref {
      color: color-mix(in srgb, var(--color-link) 70%, transparent);
      text-decoration: none;
      background-color: transparent;
      font-family: "DejaVuSerifCondensed-Bold", serif;
      vertical-align: top;
    }

    & p:first-child {
      margin-top: 0; // Remove top margin from the first paragraph in the footnote
    }
    & p:last-child {
      margin-bottom: 0; // Remove top margin from the first paragraph in the footnote
    }

    &::before {
      vertical-align: baseline;
      font-size: var(--text-size-100);
      content: counter(footnote) "."; // Display the counter followed by a period
    }
  }
}

/* Set monospace font for code blocks, inline code, etc. */
code,
pre {
  font-family: var(--font-monospace);

  background-color: transparent;
  color: inherit;
  font-size: 0.81em;
}

/* Wrap links properly */
a {
  color: var(--color-link);
  white-space: normal;
  word-break: break-word;
  hyphens: auto;
  margin-top: 0em;

  // After you visit a link, it becomes less important that it stands out
  &:visited {
    color: color-mix(in srgb, currentcolor 50%, var(--color-link));
  }
  // Don't have anchor links with box behind them
  &[role="anchor"] {
    background-color: transparent;
  }

  &[href^="mailto:"] {
    font-family: var(--font-monospace);
    font-size: 0.75em;
  }

  &[id^="user-content-fnref-"] {
    text-decoration: none;
  }
}

.page-listing {
  & h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    text-decoration: none;
  }

  & .section-li {
    padding-bottom: calc(2 * $baseMargin);
    &:not(:first-child) {
      padding-top: calc(2 * $baseMargin);
      border-top: 1px solid var(--lightgray);
    }
    & a.tag-link {
      margin-right: $baseMargin;
      display: inline;
    }
  }
}

audio {
  width: 85%;
}

sup {
  line-height: 0; // Don't push other lines away
}

.text-ornament {
  font-family: "EBGaramond12";
  font-size: 3rem;
  filter: saturate(90%);
  color: var(--blue);
  opacity: light-dark(0.7, 0.7);
}

.trout-ornament {
  // Override the darkmode filter for the trout -- TODO reexamine
  width: 3rem;
  margin-top: calc(2 * $baseMargin);
  filter: light-dark(none, invert(66%)) !important;
  opacity: light-dark(0.5, 1);
}

.temporary-transition * {
  transition:
    background-color 1s ease-in-out,
    border-color 1s ease-in-out !important;
}

:root[saved-theme="dark"] video,
:root[saved-theme="dark"] img {
  filter: grayscale(50%);

  & .invert {
    // TODO implement
    filter: grayscale(50%) invert(100%) brightness(95%) hue-rotate(180deg);
  }
}

// NOTE this will stop working if address moves TODO fix
body[data-slug="Essays/Bruce-Wayne-and-the-cost-of-inaction"] {
  & .header-img {
    filter: saturate(0%);
  }
}

/* Specific elements and features */
.gold-script {
  font-family: var(--font-text-swash);
  font-feature-settings: "swsh" 1;
  color: light-dark(#daa520, #ffd700); /* Gold */

  // Make it easier to see on light themes
  -webkit-text-stroke: 0.2px light-dark(black, transparent);
}

.bad-handwriting {
  font-family: var(--font-bad-handwriting);
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.elvish {
  font-family: "Elvish";
}

figure,
.subfigure {
  margin-inline-start: $baseMargin;
  margin-inline-end: $baseMargin;
  margin-block-start: $baseMargin;
  margin-block-end: $baseMargin;

  & img {
    margin-bottom: calc(0.5 * $baseMargin);
    width: 100%;
  }

  & + figure {
    margin-top: calc(3 * $baseMargin);
  }
  flex: 1 1 0px;
}

// Article images should be centered
article > p > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.article-title {
  margin: 2rem 0 0 0;

  @media all and (max-width: $fullPageWidth) {
    margin-top: $baseMargin;
  }
  .popover & {
    margin-top: $baseMargin !important;
  }
}

img,
figcaption {
  margin-top: 0em; /* Space above the caption */
}

img,
figcaption,
.float-right {
  text-align: center;
  color: var(--overlay-2);
  font-size: var(--text-size-90); /* smaller than the surrounding text */
}

.float-right {
  margin-top: $baseMargin;
  & img,
  img.float-right {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  float: right;
  margin-left: calc(2 * $baseMargin);
  margin-right: calc(2 * $baseMargin);
  max-width: 45%;
}

.small-caps {
  font-family: var(--font-text-sc);
  font-size: 1.1em; // 1.1x the inherited size

  font-style: inherit;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased; /* Prevent excess bolding */

  &:visited {
    color: var(--color-visited);
  }
}

.no-select {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Ensure favicons have appropriate properties. */
img.favicon {
  width: 0.65rem;
  height: 0.65rem;
  margin-right: auto;
  vertical-align: 25%;
  filter: saturate(40%);
  margin-bottom: -0.07em;
  margin-top: -20%;
  mix-blend-mode: normal !important;
}

.book-citation {
  font-style: italic;
}

.collapsible {
  & .collapsible-title {
    display: flex;

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  & .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

svg.fold-icon {
  --icon-size: 18px;
  display: inline-flex; /* Use inline-flex for better alignment */
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: calc(0.5 * $baseMargin);
  margin-top: 0.25rem;
  cursor: pointer;

  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--gray); /* Set the default color here */
  transition: transform 0.2s ease-out; /* Add a smooth transition */
  transform: rotate(-90deg); /* Initial 90-degree rotation */

  &[aria-expanded="true"] {
    transform: rotate(0deg); /* Rotate 180 degrees when expanded */
  }
}

.tags {
  color: var(--gray);
  list-style: none;
  display: inline-block;
  margin-top: $baseMargin;
  padding-left: 0;
  padding-right: $baseMargin;
  overflow-wrap: normal;
  margin-bottom: 0px;

  & a.tag-link {
    color: var(--gray);
    border-radius: 5px; /* Add rounded corners to the tags box */

    line-height: 1rem;
    padding: 0;
    padding-top: initial;
    padding-bottom: initial;
    background-color: transparent;
    display: block;
  }
}

hr {
  margin: calc(3 * $baseMargin) 0;
}

.right {
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    // Don't make popover text gray
    &:not(* .popover-inner *) {
      color: var(--gray);
    }
  }

  & #content-meta {
    font-size: var(--text-size-90);
    margin-bottom: 0;
  }
}

a.internal.tag-link {
  font-family: var(--font-monospace);
  font-size: 0.71em;
}

.authors {
  color: var(--gray);
  margin-top: 0;
}

img {
  width: 87.5%;
  margin-bottom: calc(2 * $baseMargin);
  &.inline-img {
    display: inline;
    width: 0.9rem;
    vertical-align: middle;
    margin: 0;
    margin-left: 0.05rem;
    margin-right: 0.025rem;
    margin-bottom: 0.1rem;
  }
  .callout &:not(.favicon),
  dd & {
    width: 100%;
  }
}

[saved-theme="light"] img,
[saved-theme="light"] video {
  mix-blend-mode: multiply;
}

// Ordering the z stacks
#left-sidebar {
  z-index: 1;
}

body.no-mix-blend-mode {
  & img,
  & video,
  & svg {
    mix-blend-mode: normal;
  }

  & #search-layout {
    & img,
    video,
    svg {
      mix-blend-mode: multiply;
    }
  }
}

p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.emoji {
  display: inline;
  border-radius: 0; // Don't want to cut off corners
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

#alex-rainbow-date-me {
  mix-blend-mode: normal;
  width: 60%;
  max-width: 60%;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
