@use "./base.scss";
@use "./variables.scss" as *;
@use "table.scss";
@use "colors.scss";

:root {
  --font-bad-handwriting: "BadHandwriting";
}
.explorer {
  text-align: center;

  & a {
    text-decoration: none;
  }
  & .visited {
    color: inherit;
  }
}

.popover dl,
.popover article {
  color: var(--dark);
}

em {
  font-style: italic;
  font-family: var(--font-text-italic);
}

ol {
  --li-margin: 4px; // Ensure list items are spaced more than just line-height
  & li {
    counter-increment: list; // Increment the list counter for each list item
    list-style-type: none; // Remove default list item numbering
    margin-bottom: var(--li-margin);
    font-variant-numeric: lining-nums; // Use lining numbers for list items

    &::before {
      color: var(--gray);
      text-align: right;
      content: counters(list, ".") "."; // Display the list counter with periods
      flex-shrink: 0; // Prevent the number from shrinking
      display: inline;
      margin-right: calc(0.5 * $baseMargin);
    }

    // Nested lists
    ol {
      counter-reset: sublist; // Each nested ordered list has its own sublist counter
      li {
        counter-increment: sublist; // Increment the sublist counter for nested list items
        &::before {
          content: counters(list, ".") "." counters(sublist, "."); // Display combined list and sublist counters for nested list items
        }
        &:first-child {
          margin-top: var(--li-margin); // Remove top margin from the first nested list item
        }
      }
    }
  }

  // This comes in an h2 right before the footnotes.
  .footnote-label {
    counter-reset: footnote;
  }

  li[id^="user-content-fn-"] {
    // Target li elements whose id attribute value starts with 'user-content-fn-'
    display: flex; // This ensures the number and the text are in the same line
    counter-increment: footnote; // Increment the footnote counter for each matching li

    // Make the backref arrows look nice
    & .data-footnote-backref {
      color: color-mix(in srgb, var(--color-link) 70%, transparent);
      text-decoration: none;
      background-color: transparent;
      font-family: "DejaVuSerifCondensed-Bold", serif;
      vertical-align: top;
    }

    &::before {
      vertical-align: baseline;
      font-size: var(--text-size-100);
      content: counter(footnote) "."; // Display the counter followed by a period
    }
  }
}

div.popover li[id^="user-content-fn-"] {
  counter-increment: footnote-popover; // Increment the footnote counter for each matching li
  &::before {
    content: counter(footnote-popover) "."; // Display the counter followed by a period
  }
}
/* Set monospace font for code blocks, inline code, etc. */
code,
pre {
  font-family: var(--font-monospace);
  background-color: var(--color-background);
  color: var(--dark);
}

/* Wrap links properly */
a {
  color: var(--color-link);
  white-space: normal;
  word-break: break-word;
  hyphens: auto;
  margin-top: 0em;

  // After you visit a link, it becomes less important that it stands out
  &:visited {
    color: color-mix(in srgb, currentcolor 50%, var(--color-link));
  }
  // Don't have anchor links with box behind them
  &[role="anchor"] {
    background-color: transparent;
  }

  &[href^="mailto:"] {
    font-family: var(--font-monospace);
    font-size: 0.75em;
  }

  &[id^="user-content-fnref-"] {
    text-decoration: none;
  }
}

.page-listing {
  & h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    text-decoration: none;
  }
}

audio {
  width: 85%;
}

sup {
  line-height: 0; // Don't push other lines away
}

.text-ornament {
  font-family: "EBGaramond12";
  font-size: 3rem;
  filter: saturate(90%);
  color: var(--blue);
  opacity: light-dark(0.7, 0.7);
}

.trout-ornament {
  // Override the darkmode filter for the trout -- TODO reexamine
  width: 3rem;
  filter: light-dark(none, invert(66%)) !important;
  opacity: light-dark(0.5, 1);
}

:root[saved-theme="dark"] img {
  filter: grayscale(50%);

  & .invert {
    // TODO implement
    filter: grayscale(50%) invert(100%) brightness(95%) hue-rotate(180deg);
  }
}

// NOTE this will stop working if address moves TODO fix
body[data-slug="Essays/Bruce-Wayne-and-the-cost-of-inaction"] {
  & .header-img {
    filter: saturate(0%);
  }
}

/* Specific elements and features */
.gold-script {
  font-family: var(--font-text-swash);
  font-feature-settings: "swsh" 1;
  color: light-dark(#daa520, #ffd700); /* Gold */

  // Make it easier to see on light themes
  -webkit-text-stroke: 0.2px light-dark(black, transparent);
}

.bad-handwriting {
  font-family: var(--font-bad-handwriting);
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.elvish {
  font-family: "Elvish";
  // font-size: 1.2em;
  // color: var(--gray);
}

figure img {
  margin-bottom: 1em;
}

// Article images should be centered
article > p > img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

figcaption {
  text-align: center;
  color: var(--overlay-2);
  // font-style: normal;
  font-size: var(--text-size-90); /* smaller than the surrounding text */
  margin-top: 0em; /* Space above the caption */
}

.small-caps {
  font-family: var(--font-text-sc);
  font-size: 1.1em; // 1.1x the inherited size

  font-style: inherit;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased; /* Prevent excess bolding */

  &:visited {
    color: var(--color-visited);
  }
}

.no-select {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Ensure favicons have appropriate properties. */
.favicon {
  width: 0.65em;
  height: 0.65em;
  margin-right: auto;
  vertical-align: 25%;
  filter: saturate(40%);
  margin-bottom: -0.07em;
  margin-top: -20%;
}

.book-citation {
  font-style: italic;
}

// NOTE not used in main site
.kofi-image {
  height: 1.2em;
  vertical-align: -1em;
  margin-right: 0.15em;
  filter: hue-rotate(200deg) opacity(0.6);
}

.header-404 {
  color: var(--gray);
  line-height: 0.1em;
  margin-top: 18%;
}

.tags {
  color: var(--gray);
  list-style: none;
  font-size: var(--text-size-80);
  display: inline-block;
  margin-top: 0;
  padding: calc(0.5 * $baseMargin);
  padding-left: $baseMargin;
  padding-right: $baseMargin;
  overflow-wrap: normal;
  margin-bottom: 0px;

  background-color: var(--color-background); /* Set the background color of the tags box */
  border-radius: 5px; /* Add rounded corners to the tags box */

  & a.tag-link {
    color: var(--gray);

    &:last-child {
      margin-right: 0;
    }
  }
}

hr {
  margin: calc(3 * $baseMargin) 0;
}

.right {
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: var(--gray);
  }
}

.content-meta {
  color: var(--gray);
  & p:not(:first-child) {
    font-size: var(--text-size-90);
    margin: 0px;
  }
}

a.internal.tag-link {
  font-family: var(--font-monospace);
  margin: 0 $baseMargin 0 0;
  font-size: var(--text-size-70);
}

.authors {
  color: var(--gray);
  margin-top: 0;
}

img.emoji {
  display: inline;
  border-radius: 0; // Don't want to cut off corners
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
