@use "./base.scss";
@use "./variables.scss" as *;
@use "table.scss";
@use "colors.scss";

:root {
  --font-bad-handwriting: "BadHandwriting";
}
.explorer {
  text-align: center;

  & a {
    text-decoration: none;
  }
  & .visited {
    color: inherit;
  }
}

.popover dl,
.popover article {
  color: var(--dark);
}

// The <a> link back up to content is the last child of the <li>
li[id^="user-content-fn-"] > * {
  &:is(blockquote):nth-last-child(2) {
    margin-bottom: $baseMargin;
  }
  &:not(blockquote):nth-last-child(2) {
    margin-bottom: 0; // Don't have unnecessary space before the <li>
  }
}

.footnotes {
  & ul {
    margin-top: calc(2 * $baseMargin);
  }

  & li {
    max-width: 100%;
  }

  // Ordered lists in footnotes should start at 1, 2, 3, etc.
  & li ol {
    counter-reset: list;

    & li {
      counter-increment: list;
      &::before {
        content: counter(list) ".";
      }
    }
  }
}

// Ensure that last ol of a li has no bottom margin
li[id^="user-content-fn-"] {
  & > ol {
    margin-block-end: 0;
  }

  /* Show only the first back arrow in a footnote */
  & a[class*="footnote-backref"] {
    display: none; // Hide all by default
  }

  & > p:last-child > a[class*="footnote-backref"]:last-child,
  & > a[class*="footnote-backref"]:last-child {
    display: inline-block; // Show the last backref
    color: color-mix(in srgb, var(--color-link) 70%, transparent);
    text-decoration: none;
    background-color: transparent;
    font-family: "DejaVuSerifCondensed-Bold", serif;
    vertical-align: top;
  }
}

// When scrolling back to a footnote, scroll up farther than default
a[id*="fnref-"] {
  scroll-margin-top: calc(2 * $baseMargin);

  @media all and (max-width: $fullPageWidth) {
    scroll-margin-top: calc(7 * $baseMargin);
  }
}

em {
  font-style: italic;
  font-family: var(--font-text-italic);
}

ol,
ul {
  margin-block-end: calc(2 * $baseMargin);
  padding-left: calc(3 * $baseMargin);

  dl & {
    margin-top: calc(0.5 * $baseMargin);
  }
}

dd > ul:first-child,
dd > ol:first-child {
  margin-top: 0;
}

dd {
  margin-block-start: 0;
  margin-top: 0;
  margin-bottom: calc(2 * $baseMargin);
  margin-block-end: calc(2 * $baseMargin);

  & > p:first-child {
    margin-top: 0;
  }
}

.footnotes ol > li::before {
  margin-right: calc(0.25 * $baseMargin);
}

ul li::marker {
  color: var(--gray);
}

ol {
  --li-margin: 4px; // Ensure list items are spaced more than just line-height
  & > li {
    counter-increment: list; // Increment the list counter for each list item
    list-style-type: none; // Remove default list item numbering
    margin-bottom: var(--li-margin);

    &::before {
      font-variant-numeric: lining-nums; // Use lining numbers for list items
      color: var(--gray);
      text-align: right;
      content: counters(list, ".") "."; // Display the list counter with periods
      margin-right: calc(0.5 * $baseMargin);
      flex-shrink: 0;
    }

    // Nested lists
    & > ol {
      counter-reset: sublist; // Each nested ordered list has its own sublist counter
      li {
        counter-increment: sublist; // Increment the sublist counter for nested list items
        &::before {
          content: counters(list, ".") "." counters(sublist, "."); // Display combined list and sublist counters for nested list items
        }
        &:first-child {
          margin-top: var(--li-margin); // Remove top margin from the first nested list item
        }
      }
    }
  }

  // This comes in an h2 right before the footnotes.
  .footnote-label {
    counter-reset: footnote;
  }

  li[id^="user-content-fn-"] {
    // Target li elements whose id attribute value starts with 'user-content-fn-'
    display: block;
    counter-increment: footnote; // Increment the footnote counter for each matching li
    margin-bottom: $baseMargin; // Add a bottom margin to the list items
    text-indent: 0px;

    &:before {
      margin-left: calc(-0.25 * $baseMargin);
    }

    // Make the backref arrows look nice
    & .data-footnote-backref {
      color: color-mix(in srgb, var(--color-link) 70%, transparent);
      text-decoration: none;
      background-color: transparent;
      font-family: "DejaVuSerifCondensed-Bold", serif;
      vertical-align: top;
    }

    & p:first-child {
      margin-top: 0; // Remove top margin from the first paragraph in the footnote
    }
    & p:last-child {
      margin-bottom: 0; // Remove top margin from the first paragraph in the footnote
    }

    &::before {
      vertical-align: baseline;
      font-size: var(--text-size-100);
      content: counter(footnote) "."; // Display the counter followed by a period
    }
  }
}

/* Set monospace font for code blocks, inline code, etc. */
code,
pre {
  font-family: var(--font-monospace);

  background-color: transparent;
  color: inherit;
  font-size: 0.81em;
}

// Adjust spacing around lists
p:has(+ ol),
p:has(+ ul) {
  margin-bottom: calc(1.5 * $baseMargin);
}

/* Wrap links properly */
a {
  color: var(--color-link);
  white-space: normal;
  word-break: break-word;
  hyphens: auto;
  margin-top: 0em;

  // After you visit a link, it becomes less important that it stands out
  &:visited {
    color: color-mix(in srgb, currentcolor 50%, var(--color-link));
  }
  // Don't have anchor links with box behind them
  &[role="anchor"] {
    background-color: transparent;
  }

  &[id^="user-content-fnref-"] {
    text-decoration: none;
  }
}

.page-listing {
  & h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    text-decoration: none;
  }

  & .section-li {
    padding-bottom: calc(2 * $baseMargin);
    &:not(:first-child) {
      padding-top: calc(2 * $baseMargin);
      border-top: 1px solid var(--lightgray);
    }
    & a.tag-link {
      margin-right: $baseMargin;
      display: inline;
    }
  }
}

.footnotes ul,
.footnotes ol {
  margin-top: $baseMargin;
}

audio {
  width: 85%;
}

sup {
  line-height: 0; // Don't push other lines away
}

.text-ornament {
  font-family: "EBGaramond12";
  font-size: 3rem;
  filter: saturate(90%);
  color: var(--blue);
  opacity: light-dark(0.7, 0.7);
}

.trout-ornament {
  width: 3rem;
  margin-top: calc(2 * $baseMargin);
  margin-bottom: calc(2 * $baseMargin);
  filter: light-dark(none, invert(66%)) !important;
  opacity: light-dark(0.5, 1);
}

// Dark <-> Light
.temporary-transition *,
.temporary-transition .mermaid * {
  transition:
    background-color 1s ease-in-out,
    border-color 1s ease-in-out,
    fill 1s ease-in-out,
    stroke 1s ease-in-out !important;
}

// Hide video speed controller
.vsc-controller:has(+ img + video.no-vsc) {
  display: none;
}

:root[saved-theme="dark"] video,
:root[saved-theme="dark"] img {
  filter: grayscale(50%);

  &.favicon {
    filter: saturate(0%);
  }
  & .invert {
    filter: grayscale(50%) invert(100%) brightness(95%) hue-rotate(180deg);
  }
}

body[data-slug="bruce-wayne-and-the-cost-of-inaction"] {
  & .header-img {
    filter: saturate(0%);
  }
}

/* Specific elements and features */
.gold-script {
  font-family: var(--font-text-swash);
  font-feature-settings: "swsh" 1;
  color: light-dark(#daa520, #ffd700); /* Gold */

  // Make it easier to see on light themes
  -webkit-text-stroke: 0.2px light-dark(black, transparent);
}

.bad-handwriting {
  font-family: var(--font-bad-handwriting);
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.elvish {
  font-family: "Elvish";
}

figure,
.subfigure {
  margin-inline-start: $baseMargin;
  margin-inline-end: $baseMargin;
  margin-block-start: $baseMargin;
  margin-block-end: $baseMargin;

  & img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // margin-bottom: calc(0.75 * $baseMargin);
  }

  & + figure {
    margin-top: calc(3 * $baseMargin);
  }
  flex: 1 1 0px;
}

.article-title {
  margin: 2rem 0 0 0;
  font-variant-numeric: lining-nums;

  @media all and (max-width: $fullPageWidth) {
    margin-top: $baseMargin;
  }
  .popover & {
    margin-top: calc(1.5 * $baseMargin) !important;
  }
}

figure > img {
  z-index: -1;
}

figcaption {
  margin-top: 0em; /* Space above the caption */
  position: relative;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

img,
figcaption,
.float-right {
  text-align: center;
  color: var(--gray);
  font-size: var(--text-size-90); /* smaller than the surrounding text */
}

.float-right {
  margin-top: $baseMargin;
  & img,
  img.float-right {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  float: right;
  margin-left: calc(2 * $baseMargin);
  margin-right: calc(2 * $baseMargin);
  max-width: 45%;
}

.small-caps {
  font-family: var(--font-text-sc);
  font-size: 1.1em; // 1.1x the inherited size

  font-style: inherit;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased; /* Prevent excess bolding */

  &:visited {
    color: var(--color-visited);
  }

  dt &,
  b &,
  strong & {
    font-weight: 500 !important;
    -webkit-font-smoothing: none;
  }
}

.no-select {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Ensure favicons have appropriate properties. */
img.favicon {
  width: 0.65rem;
  height: 0.65rem;
  margin-right: auto;
  vertical-align: 25%;
  filter: saturate(0%);
  margin-bottom: -0.07em;
  margin-top: -20%;
  mix-blend-mode: normal !important;

  // Make favicons align properly with headings
  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 & {
    vertical-align: 65%;
  }

  &[src$="mail.svg"],
  &[src$="favicon.ico"] {
    // Computed to match var(--dark) using https://codepen.io/sosuke/pen/Pjoqqp
    filter: invert(27%) sepia(10%) saturate(1460%) hue-rotate(196deg) brightness(99%) contrast(82%);
    :root[saved-theme="dark"] & {
      filter: invert(91%) sepia(6%) saturate(4418%) hue-rotate(185deg) brightness(100%)
        contrast(92%);
    }
  }

  &[src$="arbital_com.avif"],
  &[src$="aaai_org.avif"] {
    :root[saved-theme="light"] & {
      filter: brightness(0.3);
    }
  }

  // Gray logos made white on dark mode
  &[src$="alignmentforum_org.avif"],
  &[src$="ai-alignment_com.avif"] {
    :root[saved-theme="dark"] & {
      filter: brightness(3); // Make it brighter
    }
  }

  // Black github icon gets light background
  &[src$="github_com.avif"] {
    :root[saved-theme="dark"] & {
      background-color: var(--dark);
    }
  }

  &[src$="turntrout-favicons/favicon.ico"] {
    // Light mode
    :root[saved-theme="light"] & {
      filter: contrast(15%);
    }
    // Dark mode
    :root[saved-theme="dark"] & {
      filter: invert(91%) sepia(6%) saturate(4418%) hue-rotate(185deg) brightness() contrast(50%);
    }
  }
}

.book-citation {
  font-style: italic;
}

.collapsible {
  & .collapsible-title {
    display: flex;

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  & .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

svg.fold-icon {
  --icon-size: 18px;
  display: inline-flex; /* Use inline-flex for better alignment */
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: calc(0.5 * $baseMargin);
  margin-top: 0.25rem;
  cursor: pointer;

  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--gray); /* Set the default color here */
  transition: transform 0.2s ease-out; /* Add a smooth transition */
  transform: rotate(-90deg); /* Initial 90-degree rotation */

  &[aria-expanded="true"] {
    transform: rotate(0deg); /* Rotate 180 degrees when expanded */
  }
}

// Tags section in the metadata
.tags {
  color: var(--gray);
  list-style: none;
  display: inline-block;
  padding-left: 0;
  padding-right: $baseMargin;
  overflow-wrap: normal;

  & a.tag-link {
    color: var(--gray);
    border-radius: 5px; /* Add rounded corners to the tags box */

    line-height: 1rem;
    padding: 0;
    padding-top: initial;
    padding-bottom: initial;
    background-color: transparent;
    display: block;
  }
}

hr {
  margin: calc(3 * $baseMargin) 0;
}

.right {
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  li {
    // Don't make popover text gray
    &:not(* .popover-inner *) {
      color: var(--gray);
    }
  }

  & #content-meta {
    font-size: var(--text-size-90);
    margin-bottom: 0;
  }
}

a.internal.tag-link {
  font-family: var(--font-monospace);
  font-size: 0.71em;
}

.authors p {
  color: var(--gray);

  & a {
    color: inherit;
  }
  margin-top: 0;
  margin-bottom: 0;
}

img,
video {
  width: fit-content;
  max-width: 100%;
  margin-bottom: calc(2 * $baseMargin);

  article > p &,
  article > &,
  article > figure &,
  figure > & {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

img {
  &.inline-img {
    display: inline;
    width: 0.9rem;
    vertical-align: middle;
    margin: 0;
    margin-left: 0.05rem;
    margin-right: 0.025rem;
    margin-bottom: 0.1rem;
  }
  .callout &:not(.favicon),
  dd & {
    width: fit-content;
  }
}

[saved-theme="light"] img,
[saved-theme="light"] video {
  mix-blend-mode: multiply;
}

// Ordering the z stacks
#left-sidebar {
  z-index: 1;
}

body.no-mix-blend-mode {
  & img,
  & video,
  & svg {
    mix-blend-mode: normal;
  }

  & #search-layout {
    [saved-theme="light"] & img,
    [saved-theme="light"] & video,
    [saved-theme="light"] & svg {
      mix-blend-mode: multiply;
    }
  }
}

p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.favicon {
  display: inline;
}

ol li,
ul li,
ol li[id^="user-content-fn"] {
  & p,
  & video,
  & table {
    display: block;
    margin-block-start: calc(2 * $baseMargin);
    margin-block-end: calc(2 * $baseMargin);

    &:first-child {
      display: inline;
    }
  }
}

img.emoji {
  display: inline;
  border-radius: 0; // Don't want to cut off corners
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
  mix-blend-mode: normal !important;
}

#alex-rainbow-date-me {
  mix-blend-mode: normal;
  width: calc(min(60%, 50vw));
  max-width: 60%;
  margin-top: 0rem;
  margin-bottom: 0rem;

  @media all and (max-width: $mobileBreakpoint) {
    margin-right: 0;
    margin-left: $baseMargin;
  }
}

hr {
  max-width: 97.5%; // Looks weird if it extends all the way to the right
}

.sequenceLinks-divider {
  color: var(--lightgray);
  height: calc(8 * $baseMargin);
  margin-top: calc(2 * $baseMargin);
  margin-left: $baseMargin;
  margin-right: $baseMargin;
  border-left-style: solid;
  border-left-width: 1px;
}

.sequenceLinks-postNavigation {
  width: 45%;
}
.sequence-nav {
  display: flex;
  justify-content: space-between;

  & a {
    flex: 0 0 auto;
  }

  & .prev-post {
    margin-right: auto;
  }
  & .next-post {
    margin-left: auto;
  }
}

// Fixing issue where eqn numbers overlap with katex math
//  https://github.com/KaTeX/KaTeX/issues/3066
.katex-html {
  .base {
    margin: 0 auto;
  }
}

.vlist-r:last-of-type {
  // For some reason, the last one messes up katex sub on safari (eg https://turntrout.com/statistics-of-a-maze-solving-network#statistically-informed-impressions)
  display: none;
}

p:has(> .katex) {
  overflow-x: auto;
  overflow-y: hidden;
}

.katex-html:has(span.tag) {
  display: flex !important;
}

.katex-display > .katex > .katex-html > .tag {
  position: relative !important;
  float: right;
  margin-left: 0.25rem;
}

// Spoilers (remark-spoiler)
.spoiler-container {
  position: relative;
  cursor: pointer;
  width: fit-content;
}

.spoiler-overlay {
  position: absolute;
  height: 90%; // Visually center the overlay
  width: 100%;
  color: var(--dark);

  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "Hover to show";
  }
  @media (max-width: $tabletBreakpoint) {
    &::after {
      content: "Tap to show";
    }
  }
}

.spoiler-content {
  filter: blur(8px);
  opacity: 0.5;

  // Safari needs this
  & > * {
    filter: inherit;
    opacity: inherit;
  }
}

.spoiler-container:hover .spoiler-overlay,
.spoiler-container:focus .spoiler-overlay,
.spoiler-container.revealed .spoiler-overlay {
  opacity: 0;
  pointer-events: none;
}

.spoiler-container:hover .spoiler-content,
.spoiler-container:focus .spoiler-content,
.spoiler-container.revealed .spoiler-content {
  filter: blur(0);
  opacity: 1;
}

article[data-use-dropcap="true"] {
  --dropcap-vertical-offset: 0.15rem;
  & > p:first-of-type {
    position: relative;
    min-height: 4.2rem;
  }
  & > p:first-of-type::before {
    content: attr(data-first-letter);
    text-transform: uppercase;
    position: absolute;
    top: var(--dropcap-vertical-offset);
    left: 0;
    font-size: 4rem;
    line-height: 1;
    padding-right: 0.1em;
    font-family: "EBGaramondInitialsF2";
  }

  & > p:first-of-type::first-letter {
    padding-top: var(--dropcap-vertical-offset);
    text-transform: uppercase;
    font-style: normal !important;
    float: left;
    pointer-events: none; /* Ensure it doesn't interfere with user interactions */
    color: var(--lightgray);
    font-size: 4rem;
    line-height: 1;
    padding-right: 0.1em;
    font-family: "EBGaramondInitialsF1";
    font-weight: 500 !important;
  }

  & > p:first-of-type::first-line {
    font-family: "EBGaramondSC" !important;
  }

  & > p:first-of-type em,
  & > p:first-of-type b,
  & > p:first-of-type strong {
    font-family: inherit !important;
  }

  & > p:first-of-type .small-caps {
    font-family: "EBGaramondSC" !important;
  }

  & > p[data-first-letter="f"]::before,
  & > p[data-first-letter="F"]::before {
    padding-left: 0.025em;
  }
}

// Add indent after the first line
.center li,
#backlinks li,
.popover-inner li {
  text-indent: calc(-0.25 * $baseMargin);
}

// Make sure the bullet points don't feel choked
.center li,
.popover-inner li {
  margin-bottom: calc(0.5 * $baseMargin);
}

#backlinks {
  position: relative;

  & li {
    &::marker {
      color: var(--lightgray);
    }
    & a {
      text-decoration-thickness: 0.2px;
      background-color: transparent;
      color: var(--gray);
    }
  }
}

// Mermaid
.edgeLabel > div,
.edgeLabel > p {
  align-items: baseline !important;
  background-color: transparent !important;
}

.cluster {
  & rect {
    transform: translateY(calc(-0.5 * $baseMargin));
  }

  & .cluster-label {
    font-weight: bolder;
  }
}

// Edge labels
.edgeLabel > .label > foreignObject {
  & > div {
    background-color: transparent !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    &:has(.edgeLabel:empty) {
      display: none !important;
      background-color: transparent !important;
    }
  }
}

.label span {
  color: var(--dark) !important;
}

.flowchart-link {
  stroke: var(--lightgray) !important;
}

.flowchart p {
  // NOTE hacky, unlike commit 22939c1 we render mermaid on the server. so some of the settings are different and we have to compensate.
  font-size: 16px !important;
}

.manifold-embed {
  position: relative;
  width: 100%;
  height: 18rem;
  max-width: 35rem;
  border-radius: 5px;
}

.after-article-components {
  margin-bottom: calc(2 * $baseMargin);
  margin-top: calc(2 * $baseMargin);

  & p {
    margin-bottom: $baseMargin; // Less separation than usual
  }

  & img.favicon {
    &[src*="rss.svg"] {
      filter: saturate(0.6); // Give it some color, unlike normal favicons
    }
    &[src*="substack_com"] {
      filter: saturate(0.45); // Give it some color, unlike normal favicons
    }
  }
}

#subscription-and-contact {
  border-radius: 5px;
  border: 1px solid var(--gray);
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

// Date formatting
.ordinal-suffix {
  vertical-align: 0.3em;
  margin-left: 0.05em;
  text-decoration: underline 1.25px var(--lightgray);
}

time {
  font-variant-numeric: lining-nums;
}

// Bolding text
b,
strong,
.callout-title-inner {
  text-shadow: 0.1px 0.1px;
  font-weight: 400; // Normal font weight
}
