@use "./base.scss";

// CSS is published in public/ 
$fonts-dir: '/static/fonts'; 
$font-formats: (
  'truetype', 
  'opentype'
); // Supported font formats

@mixin font-face($font-family, $file-name, $ext: '.ttf', $font-features: none) {
  @font-face {
    font-family: $font-family;
    font-optical-sizing: auto; 
    font-feature-settings: "cv11" 1, "onum" 1;

    src: url('#{$fonts-dir}/#{$file-name}#{$ext}')
  }
}

@include font-face('EBGaramond', 'EBGaramond08-Regular', '.otf');
@include font-face('EBGaramondItalic', 'EBGaramond08-Italic', '.otf');
@include font-face('EBGaramondSC', 'EBGaramondSC08-Regular', '.otf'); 
@include font-face('FiraCode', 'FiraCode-VF', '.ttf');
@include font-face('BadHandwriting', 'BadHandwriting', '.ttf'); 


body, .published-container {
  --font-monospace: "FiraCode", 'JetBrains Mono', 'Courier New', monospace;
  --font-monospace-theme: "FiraCode", 'JetBrains Mono', 'Courier New', monospace;

  --font-text-theme: 'EBGaramond', Garamond, serif;
  --font-text: 'EBGaramond', Garamond, serif;
  --font-text-italic: 'EBGaramondItalic', Garamond, serif;

  --font-text-sc: 'EBGaramondSC', 'EB Garamond:smcp', "Garamond SC", small-caps, serif;
  --font-text-swash: 'EB Garamond:+swsh', cursive;
  --font-bad-handwriting: "BadHandwriting";

  font-family: var(--font-text);
  /* Use a '1' which doesn't look like an 'l' */
  font-feature-settings: "cv11" 1, "onum" 1; 

  /* Text which is meant to be read thoroughly should
   * have a shorter character limit to improve readability */
   max-width: fit-content(60ch);
}

em {
  font-style: italic;
  font-family: var(--font-text-italic);
}

/* Headings should have full-height numbers */
h1,
h2,
h3 {
  font-feature-settings: "onum" 0, "lnum" 1;
}

/* Set monospace font for code blocks, inline code, etc. */
code, pre {
  font-family: var(--font-monospace);
}

/* Wrap links properly */
a {
  white-space: normal;
  word-break: break-word;
  font-weight: 500;
  hyphens: auto;
  margin-top: 0em;
}

sup {
  line-height: 0; // Don't push other lines away
}

/* Allow inline emoji to resize with the text */
.emoji {
  max-width: 1em;
  max-height: 1em;
  width: auto;
  height: auto;
}

/* Center the site name under the pond gif */
.site-body-left-column-site-name {
    text-align: center;
}

/* Specific elements and features */
.gold-script {
  font-family: var(--font-text-swash);
  font-feature-settings: "swsh" 1;
  color: light-dark(#DAA520, #FFD700); /* Gold */
}


.bad-handwriting {
  font-family: var(--font-bad-handwriting);
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.caption {
  text-align: center;
  color: light-dark(#666, #BEBEBE); /* dark grey */
  font-style: normal;
  font-size: 0.8em; /* smaller than the surrounding text */
  margin-top: 0.5em; /* Space above the caption */
  margin-bottom: 1em; /* Space below the caption */
}

.small-caps {
  font-family: var(--font-text-sc);
  color: inherit;
  font-style: inherit;
  -webkit-font-smoothing: antialiased; /* Prevent excess bolding */
}

/* Remove the external link icon. */
.external-icon {
    display: none;
}

/* Ensure favicons have appropriate properties. */ 
.favicon {
    width: .95em;
    height: .95em;
    margin-right: 0.02em;
    vertical-align: -35%;
    filter: saturate(50%);
    margin-bottom: -.07em;
    margin-top: -.07em;
}
