@use "./variables.scss" as *;

:root {
  --base-line-height: 1.4;
  --scale-ratio: 1.2;
}
// Responsive font sizes
:root {
  @media screen and (min-width: $tabletBreakpoint) {
    --base-font-size: 24px;
  }
  @media screen and (max-width: $tabletBreakpoint) {
    --base-font-size: 22px;
  }
  @media screen and (max-width: $mobileBreakpoint) {
    --base-font-size: 20px;
  }
  font-size: var(--base-font-size);
}

@function calculate-scale($steps) {
  @return calc(var(--base-font-size) * pow(var(--scale-ratio), $steps));
}

// Define font sizes using the scale
:root {
  --text-size-70: #{calculate-scale(-3)};
  --text-size-80: #{calculate-scale(-2)};
  --text-size-85: #{calculate-scale(-1.5)};
  --text-size-90: #{calculate-scale(-1)};
  --text-size-100: calc(var(--base-font-size));
  --text-size-200: #{calculate-scale(1)};
  --text-size-300: #{calculate-scale(1)};
  --text-size-400: #{calculate-scale(1)};
  --text-size-500: #{calculate-scale(2)};
  --text-size-600: #{calculate-scale(3)};
  --text-size-700: #{calculate-scale(4)};
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: calc(3 * $baseMargin);
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -0.022em;

  & .popover {
    letter-spacing: initial;
  }
}

// Directly using CSS variables in SCSS
.text-size-80 {
  font-size: var(--text-size-80);
}
.text-size-90 {
  font-size: var(--text-size-90);
}
.text-size-100 {
  font-size: var(--text-size-100);
}
.text-size-200 {
  font-size: var(--text-size-200);
}
.text-size-300 {
  font-size: var(--text-size-300);
}
.text-size-400 {
  font-size: var(--text-size-400);
}
.text-size-500 {
  font-size: var(--text-size-500);
}
.text-size-600 {
  font-size: var(--text-size-600);
}
.text-size-700 {
  font-size: var(--text-size-700);
}

h1,
.h1 {
  font-size: var(--text-size-700);
}
h2,
.h2 {
  font-size: var(--text-size-600);
}
h3,
.h3 {
  font-size: var(--text-size-500);
}
h4,
.h4 {
  font-size: var(--text-size-400);
}
h5,
.h5 {
  font-size: var(--text-size-300);
}
h6,
.h6 {
  font-size: var(--text-size-200);
}

// FONT SETUP
$fonts-dir: "/static/styles/fonts";

@mixin font-face($font-family, $file-name, $ext: ".woff2", $font-features: none) {
  @font-face {
    font-family: $font-family;
    font-optical-sizing: auto;
    font-feature-settings: $font-features;

    src: url("#{$fonts-dir}/#{$file-name}#{$ext}");
    font-display: swap;
  }
}

@include font-face("FiraCode", "firacode-vf", ".woff2");

@include font-face("EBGaramond", "EBGaramond/EBGaramond08-Regular", ".woff2");
@include font-face("EBGaramondInitialsF1", "EBGaramond/EBGaramond-InitialsF1", ".woff2");
@include font-face("EBGaramondInitialsF2", "EBGaramond/EBGaramond-InitialsF2", ".woff2");
@font-face {
  font-family: 'EBGaramondItalic';
  src: url('#{$fonts-dir}/EBGaramond/EBGaramond08-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-optical-sizing: auto;
  font-display: swap;
}

@include font-face("EBGaramond12", "EBGaramond/EBGaramond12-Regular", ".woff2");
@include font-face("EBGaramond12Italic", "EBGaramond/EBGaramond12-Regular", ".woff2");
@include font-face("EBGaramondSC", "EBGaramond/EBGaramondSC08-Regular", ".woff2");

// Less commonly used
@include font-face("DejaVuSerifCondensed-Bold", "DejaVuSerifCondensed-Bold-subset", ".woff2");
@include font-face("BadHandwriting", "badhandwriting-webfont", ".woff2");
@include font-face("Scary", "DarkmodeRegular", ".woff2");
@include font-face("ElvishItalic", "tengwar_annatar/TengwarAnnatar-Italic", ".woff2");
@include font-face("Elvish", "tengwar_annatar/TengwarAnnatar", ".woff2");

body {
  --font-monospace: "FiraCode", "JetBrains Mono", "Courier New", monospace;
  --font-monospace-theme: "FiraCode", "JetBrains Mono", "Courier New", monospace;

  --font-text-theme: "EBGaramond", Garamond, serif;
  --font-text: "EBGaramond", Garamond, serif;
  --font-text-italic: "EBGaramondItalic", "EBGaramond";
  --font-text-header: "EBGaramond", Garamond, serif;

  --font-text-sc: "EBGaramondSC", "EBGaramond:smcp", "Garamond SC", small-caps, serif;
  --font-text-swash: "EBGaramond:+swsh", cursive;

  line-height: var(--base-line-height);
  font-family: var(--font-text);
  font-feature-settings:
    "liga" 1,
    "cv11" 1;

  font-variant-numeric: oldstyle-nums;

  // Code should contain full-height numbers
  & code,
  & pre {
    font-variant-numeric: lining-nums;
  }
}

.elvish-italics {
  font-family: "ElvishItalic";
}

.corrupted {
  font-family: "Scary";
  font-style: normal;
}

.fraction {
  font-variant-numeric: stacked-fractions;
  font-feature-settings: "frac" 1;
  line-height: normal;
  font-size: 1.2rem;
  font-family: "EBGaramond12";
  vertical-align: -10%;
}
