@use "./variables.scss" as *;

@function calculate-scale($steps) {
  @return calc(1rem * pow(1.2, #{$steps}));
}

:root {
  --base-line-height: 1.4;
  --text-size-70: #{calculate-scale(-3)};
  --text-size-80: #{calculate-scale(-2)};
  --text-size-85: #{calculate-scale(-1.5)};
  --text-size-90: #{calculate-scale(-1)};
  --text-size-100: #{calculate-scale(0)};
  --text-size-200: #{calculate-scale(1)};
  --text-size-300: #{calculate-scale(1)};
  --text-size-400: #{calculate-scale(1)};
  --text-size-500: #{calculate-scale(2)};
  --text-size-600: #{calculate-scale(3)};
  --text-size-700: #{calculate-scale(4)};
  --min-font-size: 0.875rem; // 14px
  --max-font-size: 1.5rem; // 24px
  --base-font-size: clamp(
    var(--min-font-size),
    calc(var(--min-font-size) + 1vw),
    var(--max-font-size)
  );

  font-size: var(--base-font-size);
  text-rendering: geometricprecision;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: calc(3 * #{$base-margin});
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -0.022em;

  .popover {
    letter-spacing: initial;
  }
}

// Directly using CSS variables in SCSS
.text-size-80 {
  font-size: var(--text-size-80);
}

.text-size-90 {
  font-size: var(--text-size-90);
}

.text-size-100 {
  font-size: var(--text-size-100);
}

.text-size-200 {
  font-size: var(--text-size-200);
}

.text-size-300 {
  font-size: var(--text-size-300);
}

.text-size-400 {
  font-size: var(--text-size-400);
}

.text-size-500 {
  font-size: var(--text-size-500);
}

.text-size-600 {
  font-size: var(--text-size-600);
}

.text-size-700 {
  font-size: var(--text-size-700);
}

h1,
.h1 {
  font-size: var(--text-size-700);
}

h2,
.h2 {
  font-size: var(--text-size-600);
}

h3,
.h3 {
  font-size: var(--text-size-500);
}

h4,
.h4 {
  font-size: var(--text-size-400);
}

h5,
.h5 {
  font-size: var(--text-size-300);
}

h6,
.h6 {
  font-size: var(--text-size-200);
}

// FONT SETUP
$fonts-dir: "/static/styles/fonts";

@mixin font-face($font-family, $file-name, $ext: ".woff2", $font-features: none) {
  @font-face {
    font-family: $font-family;
    font-optical-sizing: auto;
    font-feature-settings: $font-features;
    src: url("#{$fonts-dir}/#{$file-name}#{$ext}");
    font-display: swap;
  }
}

@include font-face("FiraCode", "firacode-vf", ".woff2");
@include font-face("EBGaramond", "EBGaramond/EBGaramond08-Regular", ".woff2");

@font-face {
  font-family: "EBGaramondInitialsF1";
  src: url("#{$fonts-dir}/EBGaramond/EBGaramond-InitialsF1.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "EBGaramondInitialsF2";
  src: url("#{$fonts-dir}/EBGaramond/EBGaramond-InitialsF2.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: EBGaramondItalic;
  src: url("#{$fonts-dir}/EBGaramond/EBGaramond08-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-optical-sizing: auto;
  font-display: swap;
}

@include font-face("EBGaramondOriginal", "EBGaramond/EBGaramond08-Regular-original", ".woff2");
@include font-face("EBGaramond12", "EBGaramond/EBGaramond12-Regular", ".woff2");
@include font-face("EBGaramond12Italic", "EBGaramond/EBGaramond12-Regular", ".woff2");

// Less commonly used
@include font-face("DejaVuSerifCondensed-Bold", "DejaVuSerifCondensed-Bold-subset", ".woff2");
@include font-face("BadHandwriting", "badhandwriting-webfont", ".woff2");
@include font-face("Scary", "DarkmodeRegular", ".woff2");
@include font-face("Elvish", "tengwar_annatar/TengwarAnnatar", ".woff2");
@include font-face("ElvishItalic", "tengwar_annatar/TengwarAnnatar-Italic", ".woff2");

body {
  --font-dropcap-foreground: "EBGaramondInitialsF2", serif;
  --font-dropcap-background: "EBGaramondInitialsF1", serif;
  --font-monospace: "FiraCode", "JetBrains Mono", "Courier New", monospace;
  --font-monospace-theme: "FiraCode", "JetBrains Mono", "Courier New", monospace;
  --font-text-theme: "EBGaramond", garamond, "Times New Roman", serif;
  --font-text: "EBGaramond", garamond, "Times New Roman", serif;
  --font-text-original: "EBGaramondOriginal";
  --font-text-italic: "EBGaramondItalic", "EBGaramond";
  --font-text-header: "EBGaramond", garamond, "Times New Roman", serif;
  --font-text-swash: "EBGaramond:+swsh", cursive;
  --font-bad-handwriting: "BadHandwriting";

  // Specify so glyphhanger can find the family
  font-family: EBGaramond, var(--font-text);
  line-height: var(--base-line-height);
  font-feature-settings:
    "liga" 1,
    "cv11" 1;
  font-variant-numeric: oldstyle-nums;

  // Code should contain full-height numbers
  & code,
  & pre {
    font-variant-numeric: lining-nums;
  }
}

em {
  font-style: italic;
  font-family: EBGaramondItalic, var(--font-text-italic);
}

.elvish {
  font-family: Elvish, serif;
  line-height: 2.2;
  position: relative;

  & em,
  em & {
    font-family: ElvishItalic, serif;
  }

  // Show underlying English text
  transition:
    opacity 600ms,
    color 300ms;

  &:hover {
    color: transparent;

    &::after {
      position: absolute;
      left: 0;
      width: max-content;
      content: attr(data-content);
      color: var(--foreground);
      font-family: var(--font-text);
      opacity: 1;
      text-shadow: 0 0 10px color-mix(in srgb, var(--yellow) 50%, transparent);
    }
  }
}

.corrupted {
  font-family: Scary, serif;
  font-style: normal;
}

.fraction {
  font-variant-numeric: stacked-fractions;
  font-feature-settings: "frac" 1;
  line-height: normal;
  font-size: 1.2rem;
  font-family: "EBGaramond12", serif;
  vertical-align: -10%;
}

// Bolding text
b,
strong,
.callout-title-inner,
dt {
  text-shadow: 0.3px 0.3px;
  font-weight: 400 !important; // Normal font weight -- otherwise would be eg 600

  .right & {
    text-shadow: 0 0; // No bolding needed on right sidebar; spacing works
  }
}

.bad-handwriting {
  font-family: BadHandwriting, var(--font-bad-handwriting);
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.small-caps,
article[data-use-dropcap="true"] > p:first-of-type::first-line,
article[data-use-dropcap="true"] > p:first-of-type .small-caps {
  font-style: inherit;
  font-variant-caps: small-caps; // Fixes kerning in a few cases
  -webkit-font-smoothing: antialiased; // Prevent excess bolding
  font-family: var(--font-text);

  dt &,
  b &,
  strong & {
    font-weight: 500 !important;
  }
}

/* Set monospace font for code blocks, inline code, etc. */
code,
pre {
  font-family: FiraCode, var(--font-monospace);
  background-color: transparent;
  color: inherit;
  font-size: 0.81em;
  font-variant-caps: normal; // Ignore small-caps in code
}

code {
  vertical-align: baseline;

  a > & {
    font-weight: $normal-weight;
  }
}

.text-ornament {
  font-family: "EBGaramond12", serif;
  font-size: 3rem;
  filter: saturate(90%);
  color: var(--blue);
  opacity: light-dark(0.7, 0.7);
}

// For usage in the middle of a paragraph
.dropcap {
  display: inline-block;
  font-family: var(--font-dropcap-foreground);
  color: var(--foreground);
  position: relative;
  text-transform: uppercase;
  margin-right: 0.05rem;
  padding-top: 0;

  // Inline dropcaps should be slightly higher than the baseline
  p & {
    vertical-align: -0.15rem;
  }

  --before-color: var(--midground-faint);

  &::before {
    font-family: var(--font-dropcap-background);
    color: var(--before-color);
    content: attr(data-first-letter);
    text-transform: uppercase;
    position: absolute;
    cursor: text;
  }
}

article[data-use-dropcap="true"] {
  --dropcap-vertical-offset: 0.15rem;
  --dropcap-font-size: 3.95rem;
  --before-color: var(--midground-faint);

  & > p:first-of-type {
    position: relative;
    min-height: 4.2rem;
  }

  & > p:first-of-type::before {
    content: attr(data-first-letter);
    text-transform: uppercase;
    position: absolute;
    top: var(--dropcap-vertical-offset);
    left: 0;
    font-size: var(--dropcap-font-size);
    line-height: 1;
    padding-right: 0.1em;
    font-family: var(--font-dropcap-background);
    color: var(--before-color);
    cursor: text;
  }

  & > p:first-of-type::first-letter {
    padding-top: var(--dropcap-vertical-offset);
    text-transform: uppercase;
    font-style: normal !important;
    float: left;
    pointer-events: none; /* Ensure it doesn't interfere with user interactions */
    color: var(--foreground);
    font-size: var(--dropcap-font-size);
    line-height: 1;
    padding-right: 0.1em;
    font-family: var(--font-dropcap-foreground);
    font-weight: 500 !important;
    cursor: text;

    // Firefox-specific adjustments for dropcap
    @supports (-moz-appearance: none) {
      padding-top: $base-margin;
    }
  }

  & > p:first-of-type em,
  & > p:first-of-type b,
  & > p:first-of-type strong {
    font-family: inherit !important;
  }
}

// EG 1st, 2nd, 3rd
.ordinal-suffix {
  vertical-align: calc(0.5 * $base-margin);
  font-size: 0.75em; // Adapt to the font size
}

// Center only to avoid sidebars
.center .ordinal-num {
  font-variant-numeric: lining-nums;
}

#article-title {
  margin-top: calc(-4 * $base-margin);
}

.tag-text {
  font-family: var(--font-monospace);
  font-size: smaller;
}

.gold-script {
  font-feature-settings: "swsh" 1;
  color: var(--gold);

  // Make it easier to see on light themes
  -webkit-text-stroke: 0.2px light-dark(black, transparent);
}
