@use "./variables.scss" as *;

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: $baseMargin;
  align-self: center;
}

.table-container > table {
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  min-width: 4rem;
  border: 1px solid var(--lightgray);

  padding: $baseMargin;
  .footnotes & {
    font-size: smaller;
  }
  text-align: center;
}
th {
  background-color: var(--lightestgray);
}
.title-cell {
  text-align: center;
  font-weight: bold;
}
.percentage-cell {
  text-align: center;
  font-feature-settings: "tnum" 1; /* Use tabular numbers */
}
