@use "./variables.scss" as *;

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: $base-margin;
  align-self: center;
}

.table-container > table {
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  min-width: 4rem;
  border: 1px solid var(--midground-faint);
  padding: $base-margin;

  .footnotes & {
    font-size: smaller;
  }

  text-align: center;
}

th {
  background-color: var(--midground-faintest);
}

.title-cell {
  text-align: center;
  text-shadow: 0.3px 0.3px var(--foreground);
}

.percentage-cell {
  text-align: center;
  font-feature-settings: "tnum" 1; /* Use tabular numbers */
}
