$page-width: 750px;
$mobile-breakpoint: 600px;
$tablet-breakpoint: 1000px;
$side-panel-width: 380px;
$right-width: 450px;
$right-panel-begins: 0px;
$margins-begin: 825px; // When the body starts having side panels
$top-spacing: 2rem;
$full-page-width: $page-width + $side-panel-width + $right-width;
$base-margin: 0.5rem;
$bold-weight: 700;
$semi-bold-weight: 600;
$normal-weight: 400;
$line-height: 1.8rem;
