$pageWidth: 750px;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1000px;
$sidePanelWidth: 380px;
$rightWidth: 450px;
$rightPanelBegins: 0px;
$topSpacing: 2rem;
$fullPageWidth: $pageWidth + 0.8 * ($sidePanelWidth + $rightWidth);
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
$lineHeight: 1.8rem;
$breakpoints: (
  small: $mobileBreakpoint,
  large: $tabletBreakpoint,
);
