name: Push pipeline

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for git info

      - uses: actions/setup-node@v4
        with:
          node-version: '>=22'
      - name: Install Dependencies
        run: npm ci
      - name: Install playwright
        run: npx playwright install --with-deps
      - name: Build Quartz and generate critical CSS 
        run: npx quartz build --no-serve

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Install xmllint
        run: sudo apt-get install -y libxml2-utils
      - name: Run site checks
        run: python scripts/built_site_checks.py

      - name: Subset fonts
        run: sh ./scripts/subfont.sh
      - name: Install Wrangler
        run: npm install -g wrangler
      - name: Initial deploy to Cloudflare Pages
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_ZONE_ID: ${{ vars.CLOUDFLARE_ZONE_ID }}
        run: |
            export BRANCH=${GITHUB_REF#refs/heads/}
            npx wrangler pages deploy ./public --project-name=turntrout --branch $BRANCH

      - name: Install subfont
        run: npm install -g subfont
      - name: Make script executable
        run: chmod +x ./scripts/subfont.sh
      - name: Subset fonts
        run: sh ./scripts/subfont.sh
      - name: Final deploy with optimized fonts
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_ZONE_ID: ${{ vars.CLOUDFLARE_ZONE_ID }}
        run: |
            export BRANCH=${GITHUB_REF#refs/heads/}
            npx wrangler pages deploy ./public --project-name=turntrout --branch $BRANCH
